<footer>
    <div class="container">
        <div class="inner flex">
            <div class="logo">
                <a href="" title=""><img src="./assets/images/logo.png" class="bg" alt=""></a>
            </div>
            <ul class="social flex">
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-youtube"></i></a></li>
            </ul>
            <p class="copyright">Copyright Ⓒ 2019 Point Avenue</p>
        </div>
    </div>
</footer>