:root{
  --orange: #ffb840;
  --black: #1a1a1a;
  --greyish: #b3b3b3;
  --gray: #808080;
}
@mixin btn_ef{
  background: #000; font-size: 24px; font-weight: 700;
  text-transform: capitalize; color: #fff;
  animation-delay: .3s;
  position: relative;
  overflow: hidden;
  span{position: relative; z-index: 9;}
  &:after{
    content: "";
    width: 100%; height: 100%;
    background: #F2B41B;
    transition: all 0.25s linear 0s;
    transform:  rotate(45deg) scale(1);
    position: absolute; top: 0; left: 0;
    opacity: 0;
  }
  &:hover{color: #000;}
  &:hover:after{
    transform: rotate(45deg) scale(6);
    opacity: 1;
  }
}



html {
  scroll-behavior: smooth;
}
body{
  background: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  color: #000;
  overflow-x: hidden;
}
main{margin-top: 102px; padding-bottom: 120px;}
.container{max-width: 1200px;}
img{max-width: 100%;}
a:hover,a:focus{outline: none;}
// ---------- header --------- //
.navbar{
  width: 100vw;
  background: #fff;
  align-items: flex-start;
  padding: 30px 40px 15px 45px;
  position: fixed;
  top: 0;
  transition: .5s;
  z-index: 99;
  .close{
    display: none;
    width: 20px; height: 20px;
    position: absolute; top: 15px; right: 15px;
    opacity: 1;
  }
  .brand img{transition: .5s;}
  img{max-width: 100%;}
  &.scroll{
    background: #fff;
    padding: 20px 40px 10px 45px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
}
.navbar-collapse{justify-content: flex-end;}
.navbar-nav{
  > li{margin: 0 22px; padding: 10px 0; position: relative;}
  > li > a{
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #B2B2B2;
    letter-spacing: 0.25px;
    position: relative;
  }
  > li > a:hover{color: #F2B41B;}
  > li > a.active{
    color: #B3B3B3;
  }
  > li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  span{position: relative; z-index: 2;}
  .show-menu{display: none;}
  .sub-menu{
    width: 202px;
    background: #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    transform: translateY(10px);
    transition: .2s linear;
    opacity: 0;
    visibility: hidden;
    li{
      padding: 12px 0; border-bottom: 1px solid #e6e6e6;
      background: #fff; position: relative;
    }
    li:last-child{border-bottom: none;}
    li a{padding: 0 15px; font-weight: 500; color: #808080;}
    li a:hover{color: #111;}
    &:before{
      content: "";
      width: 20px; height: 20px; background: #fff;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
      position: absolute; left: 15px; top: -10px;
      transform: rotate(45deg);
    }
  }
}
h1{margin: 0; display: inline-block;}

.intro{
  .wrap_img{
    padding-top: 50px;
    animation-delay: .5s;
    img{display: block; margin: 0 auto;}
  }
  .btn-view-more{
    @include btn_ef;
    width: 170px; height: 50px;
    margin-top: 45px;
  }
  .video{
    width: 100%; height: 433px;
    margin-top: 50px;
    background: #C4C4C4;
    border-radius: 16px; overflow: hidden;
    iframe{width: 100%; height: 100%;}
  }
  &::after{
    content: "";
    display: none;
    width: 100%; height: 500px;
    background: linear-gradient(#fff, rgba(#fff,0));
    position: absolute; bottom: -500px;
  }
}
.pointave_list{
  >*+*{margin-top: 24px;}
  h4{font-weight: 700; font-size: 24px; line-height: 25px; color: rgba(0, 0, 0, 0.5); transition: all .25s ease; cursor: pointer;}
  h4:hover{color: #333;}
  h3{
    display: none;
    align-items: flex-end;
    margin-bottom: 27px;
    font-size: 35px;
    line-height: 31px;
    font-weight: 700;
    span{flex: 1;}
  }
  h3::before{
    content: "";
    display: block;
    width: 10px;
    height: 80px;
    margin-right: 15px;
    background: #F2B41B;
  }
  p{display: none; padding-bottom: 10px; font-size: 18px; line-height: 25px;}
  .active{
    h4{display: none;}
    h3{display: flex;}
    p{display: block;}
  }
}
.text{
  .title{
    display: flex;
    align-items: flex-end;
    margin-bottom: 34px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    span{flex: 1;}
  }
  .title:before{
    content: "";
    display: block;
    width: 10px;
    height: 120px;
    margin-right: 18px;
    background: #F2B41B;
  }
  p{margin-bottom: 10px; font-size: 18px; line-height: 25px;}
  p:nth-child(3){animation-delay: 1s;}
  p:nth-child(4){animation-delay: 1.5s;}
  p:nth-child(5){animation-delay: 2s;}
}
.bg-yellow{
  margin-top: -150px;
  padding-top: 250px;
  padding-bottom: 310px;
  background: url("#{$img-path}/camp/dc5.png") no-repeat 0 0/100% 100%;
}
.register{
  padding: 42px 100px 55px;
  background: #FFFFFF;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.17);
  border-radius: 23px;
  .form-row{
    label{color: rgba(0, 0, 0, 0.5); font-size: 20px; font-weight: 500; line-height: 25px;}
  }
  .form-group{
    width: 100%;
    padding: 25px 15px 0;
    margin-bottom: 5px;
    position: relative;
    label{
      left: 15px;
    }
    select{height: 36px !important;}
  }
  .form-control{height: 32px;}
  .form-control{background-image: linear-gradient(0deg,#ffb840 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);}
  .box-radio{
    margin-top: 30px;
    label{margin-right: 55px; font-weight: 500; font-size: 28px; line-height: 25px;}
  }
  .radio-checkbox{
    margin-left: 30px;
    position: relative;
    label{display: flex; margin-right: 0; font-size: 24px;}
    input{opacity: 0; position: absolute; top: 0; left: 0;}
    .checked{
      width: 24px; height: 24px; border: 2px solid #000000;
      display: block; margin-left: 7px;
      border-radius: 50%;
      position: relative;
      &::after{
        content: "";
        width: 12px; height: 12px;
        background: var(--orange);
        border-radius: 50%;
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
        opacity: 0;
      }
    }
    input:checked + .checked:after{opacity: 1;}
  }
  .btn_submit{
    width: 170px; height: 58px;
    margin: 35px auto 0;
    background: #F2B41B;
    border: none;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700; color: #fff;
    transition: all .25s ease;
    cursor: pointer;
    &:hover{background: #000;}
  }
}
.wrap_img{
  img{display: block;}
}
.differences{
  margin-top: 140px;
  article{
    p{font-size: 18px; line-height: 30px;}
  }
  &__slider{width: 567px;}
  .slick-dots{
    margin-top: 75px;
    button{background: #494848;}
    .slick-active button{background: linear-gradient(90deg, #C4C4C4 26.5%, #484848 65.45%);}
  }
}
.schedule{
  margin-top: -240px;
  h2.title{margin-bottom: 20px;}
  &__slider{
    max-width: 970px;
    margin: 0 auto;
  }
  .slick-dots{
    justify-content: center;
  }
  &::after,&::before{
    content: "";
    position: absolute;
    z-index: -1;
  }
  &::after{
    width: 305px; height: 488px;
    background: url("#{$img-path}/camp/dc1.png") no-repeat 0 0/contain;
    right: -1px; top: 90px;
  }
  &::before{
    width: 246px; height: 639px;
    background: url("#{$img-path}/camp/dc2.png") no-repeat 0 0/contain;
    left: 0; bottom: -300px;
  }
}
.coach{
  margin-top: 100px;
  &__slider{
    width: 100%;
    iframe{width: 100%; height: 378px;}
  }
  .slick-dots{
    justify-content: flex-end;
  }
}
.testimonials{
  padding: 100px 0;
  h2.title{margin-bottom: 22px;}
  &__slider{ margin: 0 auto;}
  .slick-slide{
    padding: 0 15px;
    a{display: block; overflow: hidden;}
    img{display: block; height: 360px; width: 100%; object-fit: cover; transition: all 1s ease;}
    &:hover img{transform: scale(1.1);}
  }
  .slick-dots{justify-content: center;}
  &::after,&::before{
    content: "";
    width: 100%;
    height: calc(50% + 200px);
    background: linear-gradient(180deg, rgba(242, 238, 238, 0) 0%, rgba(242, 180, 27, 0.25) 44.27%);
    position: absolute; z-index: -1;
  }
  &::before{top: -200px;}
  &::after{bottom: -200px; transform: rotate(-180deg);}
}
.offers{
  &__img{width: 100%; max-width: 970px; margin: 0 auto; background: #C4C4C4;}
}
.contact{
  margin-top: 60px;
  text-align: center;
  h3{font-size: 45px; line-height: 58px; font-weight: 700;}
  .btn_contact{
    width: 368px; height: 79px;
    margin: 20px auto 0;
    @include btn_ef;
  }
}



//uikit
.btn-register{
  width: 371px; height: 80px; background: #fff;
  border: none;
  color: #000; font-size: 24px; line-height: 31px;
  font-weight: 700; border-radius: 0;
  position: relative;
  overflow: hidden;
  span{position: relative; z-index: 9;}
  &:after{
    content: "";
    width: 100%; height: 100%;
    background: #F2B41B;
    transition: all 0.25s linear 0s;
    transform:  rotate(45deg) scale(1);
    position: absolute; top: 0; left: 0;
    opacity: 0;
  }
  &:hover{color: #000;}
  &:hover:after{
    transform: rotate(45deg) scale(6);
    opacity: 1;
  }
}
.btn{
  padding: 0;
}
h2.title{
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  color: #000;
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  align-items: center;
  text-transform: capitalize;
  &::before{
    content: "";
    width: 55px; height: 72px;
    display: block; margin: 0 14px 0 0;
    background: url("#{$img-path}/camp/logont.png") no-repeat 0 0/contain;
  }
}
p.des{font-size: 18px; line-height: 30px;}
.slick-dots{
  display: flex;
  margin-top: 100px;
  >*+*{margin-left: 10px;}
  button{
    width: 15px; height: 15px;
    padding: 0; box-sizing: border-box;
    border-radius: 100%; text-indent: -9999em; border: none;
    background: linear-gradient(90deg, #F2B41B 48.96%, #DA9714 100%);
    transition: all .25s ease;
  }
  .slick-active button{width: 140px; border-radius: 9999px; background: linear-gradient(90deg, #F2B41B 48.96%, #DA9714 100%);}
}
.slick-arrow{
  width: 28px; height: 75px; background: url("#{$img-path}/camp/next.png") no-repeat 0 0/contain; top: calc(50% - 60px);
  text-indent: -9999em; border: none;
  position: absolute; transform: translateY(-50%);
  cursor: pointer; z-index: 2;
  &:focus{outline: none;}
}
.slick-next{right: 25px;}
.slick-prev{left: 25px; transform: translateY(-50%) rotate(180deg);}


.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
img{max-width: 100%;}

.modal-menu{
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0; left: 0;
  background: rgba(#000,.8);
  z-index: 90;
  &.is-open{display: block;}
}

// ---------- footer --------- //
footer{
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  .social{
    li{margin: 0 15px;}
    i{color: #b3b3b3; font-size: 24px; transition: .3s;}
    li:hover i{color: #333;}
  }
  .logo{
    line-height: initial;
    a{display: block;}
    img{opacity: .1; transition: .5s;}
  }
  .logo:hover img{opacity: .5;}
  .inner{padding: 36px 0; justify-content: space-between; align-items: center;}
  .copyright{margin-bottom: 0; font-size: 18px; color: v(black);}
}

//responsive
@media (max-width: 1440px){

}
@media (max-width: 1023px){
  @function wp($target) {
    $vw-context: (1024 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .navbar-toggler{
    display: block;
    width: 21px;
    height: 24px;
    padding: 0; position: absolute;
    top: 15px;
    right: 12px;
    background: none; border: none;
    span{
      display: block; width: 21px; height: 3px;
      background: #111; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 21px; height: 3px; background: #111; position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 21px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 21px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar{
    padding: 12px 14px;
    .close{display: block;}
    .brand img{max-width: 175px;}
    &.scroll{
      padding: 12px 14px;
      .brand img{max-width: 175px;}
    }
    &.active{
      .navbar-collapse{right: 0;}
    }
  }
  .navbar-collapse{
    width: calc(100% - 70px);
    max-width: 400px;
    height: 100%;
    display: block;
    background: #fff;
    position: fixed; right: calc(70px - 100%); top: 0;
    transition: right .3s linear;
    z-index: 999;
    ul{height: 100%; overflow: auto;}

  }
  .navbar-nav{
    padding: 40px 0 0 30px;
    > li{padding: 12px 0;}
    > li > a{font-size: 22px;}
    > li > a.active{color: #111;}
    > li.active{
      a{color: #111;}
      .sub-menu{display: block;}
      .show-menu{transform: rotate(180deg); top: 14px;}
    }
    a:hover:before,a.active:before{
      width: 50px; bottom: 0;
    }
    .show-menu{
      display: block; position: absolute; right: 0; top: 6px;
      transition: .4s;
      i{font-size: 24px; color: #b3b3b3;}
    }
    .sub-menu{
      display: none;
      padding: 0 10px;
      box-shadow: none;
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      li:last-child{padding-bottom: 0;}
      li a{padding: 0;}
      &:before{display: none;}
    }
  }
  main{
    margin-top: 52px;
    padding-bottom: 100px;
  }
  .bg-yellow{
    margin-top: 0;
    padding: 60px 0 200px 0;
    background: url("#{$img-path}/camp/dc3.png") no-repeat 0 0/100% 100%;
  }
  .text{
    margin-top: 40px;
    p{padding-right: 0; font-size: 14px;}
    h2.title{margin-bottom: 20px; font-size: 18px; line-height: 23px;}
    h2.title:before{
      width: 6px; height: 35px; margin-right: 8px;
    }
  }
  .intro{
    .row{flex-direction: column-reverse;}
    .btn-view-more{
      width: 163px; height: 36px; margin: 20px auto 0; font-size: 14px;
    }
    .video{margin-top: 10px; height: vwm(333px);}
    &::after{display: block;}
  }
  .pointave_list{
    margin-top: 30px;
    >*+*{margin-top: 15px;}
    h3{margin-bottom: 20px; font-size: 20px; line-height: 23px;}
    h3::before{width: 6px; height: 35px; margin-right: 8px;}
    h4{font-size: 18px;}
    p{padding: 0; font-size: 14px; line-height: inherit;}
  }
  .testimonials{
    padding: 60px 0;
    .slick-slide{
      img{height: auto;}
    }
  }
  .bg-yellow{padding-top: 60px;}
  .schedule{margin-top: -140px;}
  .differences,.coach{margin-top: 60px;}
  .schedule{
    &::after{width: vwm(305px); height: vwm(488px); top: 0;}
    &::before{width: vwm(246px); height: vwm(639px); left: vwm(-100px); bottom: vwm(-300px);}
  }
  .register{
    padding: 30px 15px;
    .form-row{
      label{font-size: 18px;}
    }
    .form-group{
      padding: 25px 5px 0;
      label{left: 5px;}
    }
    .box-radio{
      margin-top: 10px;
      label{margin-right: 0; font-size: 20px;}
    }
    .radio-checkbox{
      margin: 0 15px;
      label{font-size: 18px;}
    }
    .btn_submit{
      height: 45px; width: 160px; font-size: 22px;
    }
  }
  .differences{
    &__slider{width: 100%;}
    .slick-dots{margin-top: 45px; justify-content: center;}
  }
  .coach{
    &__slider{
      iframe{height: vwm(333px);}
    }
    .slick-dots{margin-top: 40px; justify-content: center;}
  }
  .testimonials{
    .slick-slide{padding: 0 10px;}
  }
  .contact{
    h3{font-size: 32px; line-height: 40px;}
    .btn_contact{width: 280px; height: 55px; font-size: 20px;}
  }
  footer{
    .inner{padding: 15px 0; justify-content: space-around;}
    .social{margin: 15px 0;}
  }

  //uikit
  h2.title{
    margin-bottom: 20px;
    font-size: 34px;
    &::before{width: 45px; height: 59px; margin-right: 10px;}
  }
  .slick-dots{
    margin-top: 50px;
    .slick-active button{width: 80px;}
  }
  .slick-arrow{
    width: 20px; height: 54px; top: calc(50% - 35px);
  }
  .slick-next{right: 15px;}
  .slick-prev{left: 15px;}
}

@media (max-width: 767px){
  .coach{
    .row{flex-direction: column-reverse;}
  }
}

@media (max-width: 320px) {
  .contact{
    h3{font-size: 30px; line-height: 40px;}
  }
  h2.title{font-size: 30px;}
}


@media (min-width: 767px) and (max-width: 1200px) {
  .text{margin-top: 0;}
  .intro{
    margin-top: 70px;
    .row{flex-direction: row;}
    .btn-view-more{margin: 20px 0 0;}
    .video{margin-top: 50px; height: 300px;}
  }
  .coach{
    &__slider{
      iframe{height: 300px;}
    }
  }
  .pointave_list{
    margin-top: 0;
  }
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .text{
    h2.title{font-size: 30px; line-height: 36px;}
    h2.title::before{height: 90px;}
  }
  .intro .video{height: 378px;}
}


.form-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#ffb840 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#000 1px,hsla(0,0%,82%,0) 0) !important; border-radius: 0;
  &:focus{outline: none; box-shadow: none;}
}
.effect_border{
  position: relative;
  label{
    position: absolute;
    margin: 0;
    font-size: 18px;
    color: var(--greyish);
    pointer-events: none;
    transition: all .3s ease;
    top: 1.3125rem;
    left: 0;
  }
  .form-control{
    background: no-repeat bottom,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: none;
    transition: background 0s ease-out;
    font-size: 14px;
    padding: .4375rem 0;
    border-radius: 0;
  }
  &.focus,&.filled{
    label{top: .4rem; font-size: .8875rem; color: #333;}
    .form-control{background-size: 100% 100%,100% 100%; transition-duration: 0.3s;}
  }
}


//animation
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes movie {
  0%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(15px,0,0);
  }
  100%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
}
@keyframes movie {
  0%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(15px,0,0);
  }
  100%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
}
@-webkit-keyframes opacity {
  0%{
    opacity: .5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: .5;
  }
}

@-webkit-keyframes scroll {
  0%{
    opacity: 0.3;
    transform: translateY(5px);
  }
  50%{
    opacity: 1;
    transform: translateY(-5px);
  }
  100%{
    opacity: .3;
    transform: translateY(5px);
  }
}
@keyframes scroll {
  0%{
    opacity: 0.3;
    transform: translateY(5px);
  }
  50%{
    opacity: 1;
    transform: translateY(-5px);
  }
  100%{
    opacity: .3;
    transform: translateY(5px);
  }
}

@-webkit-keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}