@function v($var) {
  @return var(--#{$var});
}
:root{
  --orange: #ffb840;
  --black: #1a1a1a;
  --greyish: #b3b3b3;
  --gray: #808080;
}

body {
  background: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
}
// ---------- header --------- //
.navbar{
  width: 100%;
  padding: 31px 120px 31px 60px;
  background: #fff;
  position: fixed;
  top: 0;
  transition: .5s;
  z-index: 99;
  .close{
    display: none;
    font-size: 24px; color: #e6e6e6;
    position: absolute; top: 15px; right: 15px;
    opacity: 1;
  }
  .brand img{transition: .5s;}
  img{max-width: 100%;}
  &.scroll{
    padding: 16px 120px 16px 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    .brand img{max-width: 200px;}
  }
}
.navbar-collapse{justify-content: flex-end;}
.navbar-nav{
  > li{margin: 0 22px; position: relative;}
  > li:last-child{margin-right: 0;}
  > li > a{
    padding: 12px 0;
    font-size: 16px;
    color: v(greyish);
    letter-spacing: 0.25px;
    font-weight: 500; position: relative;
  }
  > li > a.active{
    color: v(black);
    &:before{
      content: "";
      width: 54px;
      height: 15px;
      background: v(orange);
      position: absolute;
      left: -13px; bottom: 6px;
    }
  }
  > li >a:hover{color: v(black);}
  > li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  span{position: relative; z-index: 2;}
  .show-menu{display: none;}
  .sub-menu{
    width: 202px;
    background: #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 36px;
    transform: translateY(10px);
    transition: .2s linear;
    opacity: 0;
    visibility: hidden;
    li{
      padding: 12px 0; border-bottom: 1px solid #e6e6e6;
      background: #fff; position: relative;
    }
    li:last-child{border-bottom: none;}
    li a{padding: 0 15px; font-weight: 500; color: #808080;}
    li a:hover{color: v(black);}
    &:before{
      content: "";
      width: 20px; height: 20px; background: #fff;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
      position: absolute; left: 15px; top: -10px;
      transform: rotate(45deg);
    }
  }
}

// ---------- main ----------- //
main{
  padding-top: 103px;
  .container{
    padding: 0;
    @media (min-width: 1600px) {
      max-width: 1440px;
    }
    @media (max-width: 1440px) and (min-width: 1200px) {
      max-width: 1140px;
    }
  }
}
.slider{
  h3{
    margin-bottom: 0; font-size: 24px; color: v(black); font-weight: 700;
    opacity: .2; cursor: pointer; transition: .3s;
    &:hover{opacity: .5;}
  }
  .head{
    &:before{
      content: "";
      width: 8px; height: 48px; display: block;
      margin: 4px 20px 0 0; float: left;
      background: v(orange);
    }
    span{display: block; margin-bottom: 3px; color: v(gray); font-size: 16px;}
    h4{margin-bottom: 18px; font-size: 24px; font-weight: bold; color: v(black);}
  }
  .slider-wrapper{
    height: vw(780px);
    overflow-Y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    &::-webkit-scrollbar{width: 5px; border-radius: 3px;}
    &::-webkit-scrollbar-track{background: #ccc;}
    &::-webkit-scrollbar-thumb{background: #999;}
  }
  .slider-nav{
    width: 420px; height: auto; padding: 0 33px 0 60px;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    .item{margin-bottom: 28px;}
    .item:last-child{margin-bottom: 0;}
    .btn{margin: 14px 0 20px 0; font-size: 14px;}
    .detail{display: none; position: relative;}
    .slick-current{
      h3{display: none;}
      .detail{display: block;}
    }
    .slick-list,.slick-track{height: 100% !important;}
    .slick-track{display: flex; flex-direction: column; justify-content: flex-end;}
    p{
      line-height: 24px;
      letter-spacing: 0.25px;
      font-family: 'IBM Plex Serif', serif;}
  }
  .slider-for{
    width: calc(100% - 540px);
    height: vw(780px);
    video,iframe{width: 100%; height: 100%; object-fit: cover;}
    .slick-list,.slick-track{height: 100% !important;}
    .slick-arrow{
      width: 60px; height: 80px;
      border: 2px solid #e6e6e6; background: none; font-size: 0;
      position: absolute; right: -88px; transform: translateY(-50%);
      transition: .3s;
      cursor: pointer;
      &:hover{
        border-color: #333;
        &:before{color: #333;}
      }
      &:before{color: #e6e6e6;}
    }
    .slick-next{
      top: calc(50% + 55px);
      &:before{
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f107";
        font-size: 2rem;
      }
    }
    .slick-prev{
      top: calc(50% - 55px);
      &:before{
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f106";
        font-size: 2rem;
      }
    }
  }
  .volume_control{
    position: absolute;
    bottom: 5px;
    right: 130px;
    .btn-control{
      i.fa-volume-up{display: none;}
      &.on_volume{
        i.fa-volume-mute{display: none;}
        i.fa-volume-up{display: block;}
      }
    }
    i{color: #dcdcdc; font-size: 26px;}
  }
}
.slick-slide img{max-width: 100%;}
section{
  .header{
    margin: 100px 0 50px 0;
    .des{padding: 20px 0 0 27px; max-width: 972px; font: 16px/26px 'IBM Plex Serif', serif;}
  }
}
.aboutUs{
  .text{
    padding-top: 30px; font-family: 'IBM Plex Serif', serif;;
    .des{
      margin-bottom: 0; font: 24px/48px 'IBM Plex Serif', serif; color: v(black);
      span{color: v(orange);}
    }
    p{margin-bottom: 20px; line-height: 24px;}
    .products{
      margin: 20px 0;
      p{margin-bottom: 0;}
      span{display: block; line-height: 24px;}
    }
  }
}
.aboutUs__slider{
  max-width: 525px;
  .slick-dots{
    display: flex; margin-top: 10px;
    li{margin: 0 5px;}
    li:first-child{margin-left: 0;}
    button{width: 10px; height: 11px; background: #e5e5e5; font-size: 0; border: none;}
    .slick-active button{background: #f9b842;}
  }
}
.team{
  &__list{
    padding-left: 27px; justify-content: flex-start;
    li{position: relative; cursor: pointer;}
    .avt{width: 156px; height: 156px; display: block; overflow: hidden;}
    img{width: 100%; height: 100%; object-fit: cover;}
    .btn-view{
      width: 100%; height: 100%;
      display: flex; flex-direction: column; align-items: center; justify-content: center;
      background: rgba(0, 0, 0, 0.7);
      position: absolute; top: 0; left: 0;
      font-weight: 500; color: v(orange);
      opacity: 0; visibility: hidden;
      transition: .3s;
    }
    i{display: block; margin-bottom: 5px; font-size: 24px; color: v(orange);}
    li:hover{
      .btn-view{opacity: 1; visibility: visible;}
    }
  }
}
.results{
  h2.title:after{width: calc(100% - 380px);}
  &__list{
    padding-left: 27px;
    color: v(black);
    span{display: block;}
    span.counter{font-weight: 700; font-size: 64px; line-height: 56px;}
    span.cat{margin: 28px 0 10px 0; color: v(orange); font-size: 20px; font-weight: 500;}
    .des{letter-spacing: 0.25px; margin-bottom: 0; font: 14px/24px 'IBM Plex Serif', serif;}
    > div{padding-right: 70px;}
    > div:last-child{padding-right: 0;}
  }
  &__button{margin-top: 45px; text-align: center;}
}
.partnerships{
  .header h2.title:after{width: calc(100% - 510px);}
  &__list{
    justify-content: center;
    margin-left: -20px;
    li{
      width: 25%; max-width: 365px; height: 145px; padding: 0 40px; margin-bottom: 85px;
      display: flex; align-items: center; justify-content: center;
    }
    img{max-width: 100%; -webkit-filter: grayscale(1);filter: grayscale(1); opacity: .5; transition: opacity .3s;}
    li:hover img{-webkit-filter: grayscale(0);filter: grayscale(0); opacity: 1;}
  }
}
.box-register{
  margin-top: 20px;
  .info_register{
    width: 100%; height: 100%;
    display: flex;
    align-items: center; justify-content: center;
    flex-direction: column;
    position: absolute; top: 0; left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    text-align: center;
  }
  h2{margin-bottom: 5px; font-size: 72px; font-weight: 700; color: #fff;}
  p{color: v(greyish); font-size: 24px;}
  .btn{width: 200px; height: 52px; margin-top: 40px; font-size: 15.3px;}
}
.contact{
  &__list{
    li{margin-bottom: 34px; color: v(black);}
    h4{
      display: flex; align-items: center;
      margin-bottom: 10px;
      font-size: 24px; font-weight: 700;
    }
    i{
      width: 47px; height: 47px;
      display: block; margin-right: 10px;
      background: #000; border-radius: 50%;
      font-size: 24px; color: #fff; text-align: center; line-height: 47px;
    }
    i.icon-kakao{background: #000 url("#{$img-path}/icon-kakao.png") no-repeat center center;}
    p{padding-right: 99px; font-size: 18px; line-height: 27px;}
    a{color: inherit;}
  }
}
.message{
  margin-top: 50px;
  .container{
    display: flex; align-items: flex-start;
  }
  h3.title{
    display: block;
    margin-bottom: 35px;
    color: v(black); font-size: 30px;
    font-weight: 700; text-align: center;
  }
  &__send{
    max-width: 770px;
    padding: 60px 50px;
    border: 1px solid #e6e6e6;
    background: #fff;
  }
  &__form{
    .form-group{
      width: 100%;
      padding: 25px 15px 0;
      margin-bottom: 5px;
      position: relative;
      label{
        left: 15px;
      }
      select{height: 36px !important;}
    }
    .form-control{height: 40px;}
    textarea{height: 82px !important;}
    .form-control{background-image: linear-gradient(0deg,#ffb840 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);}
    .form-submit{padding-top: 0;}
    .btn{width: 100%; max-width: 300px; height: 55px; display: block; margin: 40px auto 0; font-size: 20px;}
  }
  &__banner{margin: 140px 0 0 -100px;}
}
.form-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#ffb840 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#4d4d4d 1px,hsla(0,0%,82%,0) 0) !important; border-radius: 0;
  &:focus{outline: none; box-shadow: none;}
}
.effect_border{
  position: relative;
  label{
    position: absolute;
    margin: 0;
    font-size: 18px;
    color: v(greyish);
    pointer-events: none;
    transition: all .3s ease;
    top: 1.3125rem;
    left: 0;
  }
  .form-control{
    background: no-repeat bottom,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: none;
    transition: background 0s ease-out;
    font-size: 14px;
    padding: .4375rem 0;
    border-radius: 0;
  }
  &.focus,&.filled{
    label{top: .5rem; font-size: .8875rem;}
    .form-control{background-size: 100% 100%,100% 100%; transition-duration: 0.3s;}
  }
}

#map{
  width: 100%;
  height: vw(600px);
  margin-top: 90px;
  iframe{width: 100%; height: 100%; transition: opacity .3s;}
}

// --------- services ------- //
.program{
  margin-top: 100px;
  .head{
    border-left: 8px solid v(orange); padding-left: 20px; margin-bottom: 35px;
    span{display: block; margin-bottom: 5px; font-size: 16px; color: #808080; line-height: 15px;}
    h4{font-size: 36px; font-weight: 700; color: v(black);}
  }
  .des{max-width: 337px; line-height: 24px; letter-spacing: 0.25px; font-family: 'IBM Plex Serif', serif;}
  .register{
    margin-top: vw(90px);
    h5{display: block; margin-bottom: 10px; font-weight: 500; font-style: italic; font-size: 14px;}
    .btn{width: 242px; height: 48px;}
  }
  .video{
    video{width: 100%; height: 100%; object-fit: cover;}
  }
}
.courses{
  margin-top: 50px;
  h2.title{
    font: 700 144px/120px 'IBM Plex Serif', serif;
    color: #f2f2f2;
  }
  &__list{
    margin-top: 60px;
    > div{padding: 0 30px; margin-bottom: 60px;}
    h3 a{display: block; margin-bottom: 30px; font-size: 24px; font-weight: bold; color: v(black);}
    h3 a:hover{color: v(orange);}
    .thumb{display: block; width: 100%; height: 245px; margin-bottom: 15px; overflow: hidden;}
    .thumb:hover img{transform: scale(1.1);}
    .thumb img{width: 100%; height: 100%; object-fit: cover; transition: .5s;}
    .des{line-height: 24px; letter-spacing: 0.25px; font-family: 'IBM Plex Serif', serif;}
  }
}

// --------- results -------- //
.box-result{
  margin-top: vw(100px);
  padding-left: 150px;
  h3.title{
    margin: 0 0 vw(90px) 90px; padding-left: 20px;
    font-size: 36px; font-weight: 600; color: v(black);
    border-left: 8px solid v(orange); line-height: 40px;
  }
}
.box-slider{
  padding-left: 50px;
  &:after{
    content: "";
    height: 100%;
    width: vw(390px);
    position: absolute; top: 0; right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
  .slick-slide{
    img:focus,a:focus{outline: none;}
  }
  .slick-arrow{
    width: vw(69px); height: vw(80px);
    border: 2px solid #e6e6e6;
    background: transparent;
    position: absolute; left: vw(-70px);
    font-size: 0; cursor: pointer;
    &:before{color: #e6e6e6;}
  }
  .slick-next{
    top: 0;
    &:before{
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      content: "\f104";
      font-size: 2rem;
    }
  }
  .slick-prev{
    bottom: 0;
    &:before{
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      content: "\f105";
      font-size: 2rem;
    }
  }
  img{max-width: 100%; display: block; margin: 0 auto;}
}
.slider-logo{
  margin-bottom: vw(120px);
  li{padding: 0 vw(30px);}
}
.slider-text{
  margin-bottom: vw(120px);
  .item{
    display: flex; flex-wrap: wrap; align-items: flex-start;
    padding: 30px vw(30px) 0;
    border-right: 1px solid #e6e6e6;
  }
  .avatar{
    width: 110px; text-align: center;
    img{width: 80px; height: 80px; object-fit: cover; border-radius: 50%;}
    span{display: block; text-align: center;}
    .name{margin: 5px 0 2px 0; font-size: 16px; font-weight: 500; color: v(black);}
    .age{color: #808080;}
  }
  .content{
    width: calc(100% - 110px); padding-left: 10px;
    p{
      margin-bottom: 0;
      font: 16px/30px 'IBM Plex Serif', serif;
      color: v(black);
      position: relative; z-index: 9;
    }
  }
  .btn-see{
    display: flex; align-items: center; color: #808080; font-weight: 500; float: right;
    i{margin-left: 4px; font-size: 16px; color: v(greyish);}
  }
  .quote{font-size: vw(120px); color: #f2f2f2; position: absolute; top: vw(-35px);}
}

// --------- news ----------- //
.news,.newsDetail,.creatorDetail{
  margin-bottom: 10px;
  .cat{
    background: v(orange); padding: 3px 5px;
    font-size: 10px; font-weight: 700;
    text-transform: uppercase; color: #fff;
    line-height: 18px;
  }
  time{margin-left: 10px; font-size: 16px; color: v(greyish); font-weight: 500;}
  time i{font-size: 16px;  margin-right: 5px;}
  h3 a:hover{color: v(orange);}
}
.news__large{
  a.thumb{
    width: 100%; height: vw(528px); display: block;
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  .content{
    width: 100%; height: 100%; padding: 30px;
    display: flex; flex-direction: column;
    justify-content: flex-end;
    position: absolute; top: 0; left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  }
  .des{margin-bottom: 0; color: #f2f2f2; line-height: 24px; letter-spacing: 0.25px;}
  h3{margin: 10px 0; }
  h3 a{color: #fff; font-weight: 600; font-size: 32px;}
}
.news__video{
  video{width: 100%; height: 100%; object-fit: cover;}
  h3{margin: 10px 0; font-weight: 500; font-size: 24px;}
  h3 a{color: v(black);}
  h3 a:hover{color: v(orange);}
  p{
    width: calc(100% - 90px); padding-right: 20px; margin-bottom: 0;
    color: v(black); line-height: 24px; letter-spacing: 0.25px;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
  }
  .btn{
    width: 89px; height: 31px; padding: 4px 0;
    margin-top: -30px;
    font-size: 12px;
    float: right;
    i{font-size: 12px; color: #fff;}
    &:hover i{color: v(orange);}
  }
  .play-video{
    width: 60px;
    height: 60px;
    background: url("#{$img-path}/play-video.png") no-repeat 0 0/contain;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
  }
}
.news__list{
  height: vw(528px);
  overflow: auto;
  .post{
    margin-bottom: vw(29px);
    align-items: flex-start;
    &:last-child{margin-bottom: 0;}
  }
  .thumb{
    width: 180px; height: 110px; display: block;
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  .content{width: calc(100% - 180px); padding-left: 15px;}
  h3{margin: 10px 0; font-weight: 600; font-size: vw(18px); line-height: vw(24px);}
  h3 a{color: v(black);}
  time{font-size: 12px; margin-left: 0;}
  time i{font-size: 12px;}
}
.news__list::-webkit-scrollbar {
  width: 3px;
}
.news__list::-webkit-scrollbar-track {
  background: #f1f1f1; border-radius: 3px;
}
.news__list::-webkit-scrollbar-thumb {
  background: #ccc;
}

.header_news{
  margin-bottom: 20px;
  flex-wrap: nowrap;
  align-items: flex-end;
  h2.title{
    background: none;
    margin-bottom: 0;
    font: 700 36px 'IBM Plex Serif', serif;
    color: v(black);
    white-space: nowrap;
  }
  .btn-more{
    margin-bottom: 4px;
    font-size: 18px; font-weight: 700; color: v(greyish);
    white-space: nowrap;
    &:hover{color: v(orange);}
  }
  .line{
    width: 100%; height: 1px;
    margin: 0 10px 12px 20px;
    background: #e6e6e6;
    position: relative;
    &:before{
      content: ""; width: 100px; height: 1px; background: v(orange);
      position: absolute; top: 0;
    }
  }
}
.news_category{
  margin-top: 30px;
}
.list_post{
  .post{padding: 15px;}
  .thumb{width: 100%; height: 207px; margin-bottom: 18px;}
  .thumb .icon-video{
    width: 60px; height: 60px;
    background: url("#{$img-path}/play-video.png") no-repeat center center/contain;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
  }
  h3{
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;
    color: v(black);
    font-weight: 500;
    a{color: v(black);}
    a:hover{color: v(orange);}
  }
  time{
    display: block;
    margin: 10px 0;
    font-size: 12px;
    font-weight: 500; color: v(greyish);
  }
  p{
    margin-bottom: 0;
    line-height: 24px;
    letter-spacing: 0.25px; font-family: 'IBM Plex Serif', serif;
  }
}
.newsDetail{
  padding: 25px vw(122px);
  h1.title{
    display: block;
    margin-top: 15px;
    font-weight: 700;
    font-size: 36px;
  }
  article{
    padding: vw(50px) vw(124px);
    p{font: 16px/26px 'IBM Plex Serif', serif; color: v(black);}
  }
}
.creatorSpace{
  margin-bottom: 50px;
  .header_news{margin-bottom: 35px;}
  .news{
    time{margin-left: 0;}
  }
  .news__list{
    height: vw(640px);
    .post{margin-bottom: vw(20px);}
    .post:last-child{margin-bottom: 0;}
    h3{margin: 0 0 2px; font-size: 14px; line-height: 21px;}
    .thumb{width: 140px; height: 90px;}
    .content{width: calc(100% - 140px);}
  }
}
.creatorDetail{
  margin-top: 20px;
  time{display: block; margin: 15px 0 0;}
  .video video{width: 100%; height: 100%; object-fit: cover;}
  h1.title{margin: 10px 0; font-weight: 600; font-size: 32px;}
  article p{font: 14px/24px 'IBM Plex Serif', serif; letter-spacing: 0.25px;}
  .news__list{
    height: auto; padding: 15px; background: #f2f2f2;
    h3{margin: 0; font-size: 14px; line-height: 21px;}
    time{margin-top: 5px;}
    .thumb{width: 140px; height: 90px;}
    .content{width: calc(100% - 140px);}
  }
}

.breadcrumb{
  padding: 5px 0;
  background: none;
  margin-bottom: 0;
  li,a{color: #808080; font-weight: 500;}
  a:hover,i:hover{color: v(orange);}
  i{color: #808080;}
  li:nth-child(2):before{display: none}
}
.box-breadcrumb{
  padding: 10px 0; margin-top: 30px;
  border-bottom: 1px solid #e6e6e6;
  h2.title{
    margin-bottom: 0;
    font: 700 36px 'IBM Plex Serif', serif; color: v(black);
    position: absolute; left: 50%; bottom: 10px; transform: translateX(-50%);
  }
}

.pagination{
  margin: 35px 0 50px 0;
  justify-content: center;
  li{margin: 0 10px;}
  li.active .page-link{
    background: #000;  color: #fff;
  }
  i,a{color: v(greyish); font-size: 24px;}
  a{font-weight: 700;}
  .page-link{padding: .3rem .75rem}
  .page-item.active .page-link{border: none;}
}
.sidebar_title{
  h4{margin-bottom: 16px; font-weight: 500; font-size: 24px;}
}


// --------- popup ---------- //
.popup-member{
  .close{
    position: absolute;
    top: 15px; right: 15px;
    opacity: 1;
    i{font-size: 24px; color: #e6e6e6;}
  }
  .modal-dialog{max-width: 750px;}
  .modal-content{padding: 40px 50px;}
  .avatar{
    img{width: 240px; height: 240px; border-radius: 50%; object-fit: cover;}
    .name{display: block; margin: 10px 0 5px 0; font-size: 20px; font-weight: 700;}
    .job{margin-bottom: 0; font-size: 16px; color: #808080; font-weight: 500;}
  }
  article{
    width: calc(100% - 240px); padding-left: 50px;
    p{margin-bottom: 2px; line-height: 24px; font-family: 'IBM Plex Serif', serif; letter-spacing: 0.25px;}
    p:before{
      content: "";
      width: 5px; height: 5px; display: inline-block;
      margin-right: 6px;
      border-radius: 50%; background: v(black);
    }
  }
}

// --------- loading -------- //
.loading{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: v(orange);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

// ---------- footer --------- //
footer{
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  .container{
    padding: 0;
    @media (min-width: 1600px) {
      max-width: 1440px;
    }
    @media (max-width: 1440px) and (min-width: 1200px) {
      max-width: 1140px;
    }
  }
  .social{
    li{margin: 0 15px;}
    i{color: v(greyish); font-size: 24px; transition: .3s;}
    li:hover i{color: #333;}
  }
  .logo img{opacity: .1; transition: .5s;}
  .logo:hover img{opacity: .5;}
  .inner{padding: 36px 0; justify-content: space-between; align-items: center;}
  .copyright{margin-bottom: 0; font-size: 18px; color: v(black);}
}

// ---------- uikits ---------- //
a{transition: .3s;}
.btn{
  display: inline-block;
  padding: 11px 16px;
  color: #fff;
  font-weight: 700;
  border-radius: 0;
}
.header{
  h2.title{
    display: flex; justify-content: space-between;
    width: 100%;
    height: 111px;
    padding: 32px 0 0 160px;
    margin-bottom: 0;
    background: url("#{$img-path}/bg-title.png") no-repeat left bottom;
    color: #000;
    font-weight: bold;
    font-size: 56px;
    text-transform: capitalize;
    position: relative;
    &:after{
      content: "";
      height: 1px; width: calc(100% - 430px);
      display: block; background: #e6e6e6;
      position: absolute; right: 0; bottom: 19px;
    }
  }
}
.btn_primary{
  background: v(orange);
  border: 2px solid v(orange);
  &:hover{background: transparent; color: v(orange);}
}
.btn_secondary{
  background: v(black);
  border: 2px solid v(black);
  &:hover{background: transparent; color: v(black);}
}
.thumb{
  display: block; overflow: hidden; position: relative;
  &:hover img{transform: scale(1.1);}
  img{width: 100%; height: 100%; object-fit: cover; transition: .5s;}
}
img{max-width: 100%;}

.modal {
  overflow-y: auto;

}
.modal-menu{
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0; left: 0;
  background: rgba(#000,.8);
  z-index: 90;
  &.is-open{display: block;}
}

.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

// ---------- responsive ----- //
@media (max-width: 1200px){
  main.category{
    .container{padding: 0 15px;}
  }
}
@media (max-width: 1440px) {
  .slider{
    h3{font-size: 20px;}
    .slider-nav{
      .item{margin-bottom: 15px;}
    }
  }
  .partnerships{
    &__list{
      li{margin-bottom: 40px;}
    }
  }
  .contact{
    &__list{
      p{padding-right: 0;}
    }
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .navbar-toggler{
    display: block;
    width: 21px;
    height: 24px;
    padding: 0; position: absolute;
    top: 15px;
    right: 10px;
    background: none; border: none;
    span{
      display: block; width: 21px; height: 3px;
      background: v(black); position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 21px; height: 3px; background: v(black); position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 21px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 21px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar{
    padding: 12px 14px;
    .close{display: block;}
    .brand img{max-width: 175px;}
    &.scroll{
      padding: 12px 14px;
      .brand img{max-width: 175px;}
    }
    &.active{
      .navbar-collapse{right: 0;}
    }
  }
  .navbar-collapse{
    width: calc(100% - 70px);
    height: 100%;
    display: block;
    background: #fff;
    position: fixed; right: calc(70px - 100%); top: 0;
    transition: right .3s linear;
    z-index: 999;
    ul{height: 100%; overflow: auto;}

  }
  .navbar-nav{
    padding: 40px 0 0 30px;
    > li{padding: 12px 0;}
    > li > a{font-size: 22px;}
    > li > a.active{color: v(black);}
    > li.active{
      a{color: v(black);}
      .sub-menu{display: block;}
      .show-menu{transform: rotate(180deg); top: 18px;}
    }
    a:hover:before,a.active:before{
      width: 50px; bottom: 0;
    }
    .show-menu{
      display: block; position: absolute; right: 0; top: 12px;
      transition: .4s;
      i{font-size: 24px; color: v(greyish);}
    }
    .sub-menu{
      display: none;
      padding: 0 10px;
      box-shadow: none;
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      li:last-child{padding-bottom: 0;}
      li a{padding: 0;}
      &:before{display: none;}
    }
  }

  //main
  main{padding-top: 53px;}
  section .header{
    margin: 40px 0;
    .des{padding: 20px 15px 0; margin-bottom: 0;}
  }
  .slider{
    .slick-arrow{display: none !important;}
    .slider-nav{
      padding: 0 15px; height: auto;
      p{display: none;}
      .btn{font-size: 11px; margin: 0;}
    }
    .head{
      span{font-size: 14px;}
      h4{font-size: 18px;}
      &:before{height: 40px; margin-right: 8px;}
    }
  }
  .slider .volume_control{top: 5px; right: 25px;}
  .partnerships__list{
    padding: 0 5px; margin-left: 0;
    li{margin-bottom: 10px; padding: 0 10px; height: auto; width: 33.3%;}
  }

  .registration{
    img.bg{min-height: 285px; object-fit: cover;}
  }
  .box-register{
    h2{font-size: 48px;}
    p{font-size: 14px;}
    .btn{width: 152px; height: 48px; margin-top: 16px;}
  }
  .contact{
    &__list{
      padding: 0 15px;
      li{margin-bottom: 15px;}
    }
  }
  .message{
    margin-top: 5px;
    padding: 0 5px;
    h3.title{margin-bottom: 20px;}
    &__form{
      .form-group{padding: 25px 5px 0;}
    }
    &__send{padding: 45px 12px;}
    &__banner{display: none;}
  }
  .message__form .form-group label {
    left: 5px;
  }
  .map{height: 400px; margin-top: 40px;}

  // --------- category --------- //
  .program{
    flex-direction: column-reverse;
    .head{margin: 15px 0;}
  }
  .courses{
    margin-top: 20px;
    &__list{
      margin-top: 20px;
      .thumb{height: 200px;}
    }
    h2.title{font-size: 75px; line-height: inherit;}
  }
  .news__large{
    .content{padding: 15px;}
    h3{margin: 5px 0;}
    h3 a{font-size: 20px;}
    .des{line-height: initial;}
    a.thumb{height: auto;}
  }
  .news__video{
    h3{font-size: 20px;}
  }
  .news_category{margin-top: 15px;}
  .news__list{
    height: vwm(600px); max-height: 475px;
    margin-top: 20px;
    h3{font-size: 14px; line-height: initial;}
  }
  .newsDetail {
    padding: 15px 0;
    article{padding: 10px 0;}
    h1.title{font-size: 26px;}
  }
  .creatorDetail{
    .news__list .post{margin-bottom: 15px;}
    h1.title{font-size: 28px;}
  }
  .creatorSpace{
    .header_news{margin-bottom: 20px;}
    .news__list{
      .post{margin-bottom: 15px;}
      height: vwm(575px); max-height: 575px;
    }
  }
  .header_news{
    margin-bottom: 10px;
    h2.title{font-size: 26px;}
    .line:before{width: 50px;}
  }

  //pagination
  .pagination{
    li{margin: 0 5px;}
    i,a{font-size: 20px;}
    a{font-weight: 500;}
    .page-link{padding: .2rem .55rem;}
  }

  //breadcrumb
  .box-breadcrumb{
    h2.title{font-size: 26px; position: relative; transform: translateX(0); left: 0;}
  }

  //map
  #map{height: vwm(500px); margin-top: 30px; max-height: 400px;}

  //popup
  .popup-member{
    .modal-content{padding: 15px;}
    .avatar img{width: 140px; height: 140px;}
    article{width: 100%; padding-left: 0;}
  }

  footer{
    .inner{padding: 25px 0;}
    .logo,.social{margin: 0 10px;}
    .inner{justify-content: center;}
    .social{padding: 25px 0;}
    .copyright{flex-basis: 100%; text-align: center;}
  }
  // ---------- uikits ---------- //
  .header{
    h2.title{
      height: 85px;
      font-size: 42px;
      background-size: 157px 85px;
      background-position: -30px 0px;
      padding: 25px 0 0 90px;
    }
  }
  .btn{padding: 9px 12px;}
}

@media (max-width: 767px) {
  .slider{
    flex-direction: column-reverse;
    h3{font-size: 18px;}
    .slider-nav{
      width: 100%;
    }
    .slider-for{
      width: 100%;
      height: vwm(440px);
      margin-bottom: 20px;
    }
  }
  .aboutUs__slider{
    .slick-dots{margin-left: 10px;}
  }
  .aboutUs{
    .text{
      padding: 25px 15px 0;
    }
    .text .des{line-height: 40px;}
  }
  .team{
    &__list{
      padding-left: 0;
      .avt{width: 75px; height: 75px;}
    }
  }
  .results{
    &__list{
      padding-left: 15px;
      > div{margin-bottom: 40px;}
      > div:last-child{margin-bottom: 0;}
    }
  }
  .partnerships{
    h2.title{font-size: 36px;}
  }

  // ---------- category -------- //
  .box-slider:after{display: none;}
  .slider-text,.slider-logo{margin-bottom: 40px;}
  .slider-text{
    .item{padding-top: 0;}
    .content{position: relative;}
    .avatar{
      width: 90px;
      .name{font-size: 14px;}
      .age{font-size: 12px;}
    }
    .content{
      width: calc(100% - 90px);
      p{font-size: 14px; line-height: initial;}
    }
  }
  // ---------- uikits ---------- //
}
@media (min-width: 767px) and (max-width: 1023px) {
  .slider{
    .slider-nav{width: 40%;}
    .slider-for{width: 60%;}
  }
  section.slider{padding-right: 15px;}
  .aboutUs{
    &__content{padding: 0 15px;}
    .text{
      padding-top: 0;
      .des{font-size: 20px; line-height: 36px;}
    }
  }
  .team{
    &__list{
      padding: 0 15px; justify-content: center;
    }
  }
}

@media (min-width: 1023px) and (max-width: 1200px) {
  .navbar{
    padding: 31px 15px;
    li{margin: 0 15px;}
    a{font-size: 15px;}
    &.scroll{padding: 20px 15px;}
  }
  .news__list{
    height: vwt(300px);
    .thumb{width: 140px; height: 90px;}
    .content{width: calc(100% - 140px);}
  }
  .news__large{
    a.thumb{height: vwt(300px);}
  }
}
@media (min-width: 320px) and (max-width: 1200px) {
  // --------- category --------- //
  .program{
    margin-top: 40px;
    .head{
      padding-left: 8px;
      span{font-size: 14px;}
      h4{font-size: 18px;}
    }
    .register{
      .btn{width: 200px; height: 40px; padding: 0; line-height: 40px;}
    }
  }
  .courses{
    &__list{
      h3 a{margin-bottom: 15px; font-size: 20px;}
      > div{padding: 0 15px; margin-bottom: 30px;}
    }
  }

  //services
  .box-result{
    padding-left: 0;
    h3.title{margin: 0 0 40px; padding-left: 10px; font-size: 20px; line-height: initial;}
  }
  .box-slider{
    padding-left: 30px;
    .slider-text{
      .slick-next{top: calc(50% - 40px);}
      .slick-arrow{transform: translateY(-50%);}
      .slick-prev{bottom: calc(50% - 40px);}
    }
    .slick-arrow{width: 35px; height: 35px; left: -35px;}
    .slick-next:before,.slick-prev:before{font-size: 1.5rem;}
  }
}