:root{

}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  background: #fff url("#{$img-path}/odyssey/bg.png") no-repeat right top;
  background-size: 100% auto;
  color: #000;
  overflow-x: hidden;
}
main{margin-top: 102px; padding-bottom: 120px;}
.container{max-width: 1200px;}

// ---------- header --------- //
.navbar{
  width: 100vw;
  align-items: flex-start;
  padding: 30px 40px 15px 60px;
  position: fixed;
  top: 0;
  transition: .5s;
  z-index: 99;
  .close{
    display: none;
    width: 20px; height: 20px;
  
    position: absolute; top: 15px; right: 15px;
    opacity: 1;
  }
  .brand img{transition: .5s;}
  img{max-width: 100%;}
  &.scroll{
    background: #fff;
    padding: 20px 40px 10px 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
}
.navbar-collapse{justify-content: flex-end;}
.navbar-nav{
  > li{margin: 0 22px; padding: 10px 0; position: relative;}
  > li > a{
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #B2B2B2;
    letter-spacing: 0.25px;
    position: relative;
  }
  > li > a:hover{color: #F2B41B;}
  > li > a.active{
    color: #B3B3B3;
  }
  > li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  span{position: relative; z-index: 2;}
  .show-menu{display: none;}
  .sub-menu{
    width: 202px;
    background: #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    transform: translateY(10px);
    transition: .2s linear;
    opacity: 0;
    visibility: hidden;
    li{
      padding: 12px 0; border-bottom: 1px solid #e6e6e6;
      background: #fff; position: relative;
    }
    li:last-child{border-bottom: none;}
    li a{padding: 0 15px; font-weight: 500; color: #808080;}
    li a:hover{color: #111;}
    &:before{
      content: "";
      width: 20px; height: 20px; background: #fff;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
      position: absolute; left: 15px; top: -10px;
      transform: rotate(45deg);
    }
  }
}
h1{margin: 0; display: inline-block;}

.intro{
  .col-left{max-width: 670px;}
  .col-right{max-width: 470px;}
  .btn-register{margin-top: 15px; animation-delay: 1.5s;}
}
.text{
  h2.title{
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
    font-size: 50px;
    line-height: 65px;
    font-weight: 700;
  }
  h2.title:before{
    content: "";
    display: block;
    width: 9px;
    height: 100px;
    margin-right: 26px;
    background: #F2B41B;
  }
  h4{
    margin-bottom: 1.1rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    animation-delay: .5s;
  }
  p{margin-bottom: 10px; padding-right: 48px; font-size: 20px; line-height: 35px;}
  p:nth-child(3){animation-delay: 1s;}
  p:nth-child(4){animation-delay: 1.5s;}
  p:nth-child(5){animation-delay: 2s;}
}
.img-phone{
  margin-top: 85px;
  width: 470px; height: 487px;
  display: block;
  position: relative;
  animation-delay: .5s;
  .parallax-layer{position: absolute;}
  .layer1{position: relative;}
  .layer2{
    width: 260px;
    left: 88px;
    top: 112px;
  }
  .layer3{
    width: 315px;
    top: 138px;
    left: 149px;
  }
  .layer4{
    top: 72px;
    width: 426px;
    left: 15px;
  }
  .icon-ef{position: absolute;}
}
.img-effect{
  width: 605px;
  height: 771px;
  margin-left: 15px;
  margin-right: 130px;
  .icon-circle{
    width: 95px; height: 95px;
    background: url("#{$img-path}/odyssey/circle.png") no-repeat 0 0/contain;
    position: absolute;
    left: 60px; top: 12px;
    animation: rotate2 2s infinite linear;
  }
  .ef{position: absolute}
  .ef1{width: 565px; top: 118px; z-index: 4;}
  .ef2{width: 250px; top: 104px; left: 111px; animation: flash1 1s infinite linear;}
  .ef3{width: 242px; top: 0; left: 320px;}
  .ef4{width: 65px; right: 0; top: 227px;}
}
.scroll-eff{
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #F2B41B;
  position: absolute;
  bottom: -180px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  cursor: pointer;
  span{
    width: 44px; height: 20px; display: block;
    margin-top: -3px;
    background: url("#{$img-path}/odyssey/arr_down.png") no-repeat;
    animation: scroll 1s linear infinite;
  }
  span:nth-child(2){
    margin-bottom: 15px;
  }
}
.btn-register{
  width: 371px; height: 80px; background: #fff;
  border: none;
  color: #000; font-size: 24px; line-height: 31px;
  font-weight: 700; border-radius: 0;
  position: relative;
  overflow: hidden;
  span{position: relative; z-index: 9;}
  &:after{
    content: "";
    width: 100%; height: 100%;
    background: #F2B41B;
    transition: all 0.25s linear 0s;
    transform:  rotate(45deg) scale(1);
    position: absolute; top: 0; left: 0;
    opacity: 0;
  }
  &:hover{color: #000;}
  &:hover:after{
    transform: rotate(45deg) scale(6);
    opacity: 1;
  }
}
.btn{
  padding: 0;
}

.section2{
  padding-top: 140px;
  position: relative;
  &:after{
    content: "";
    width: 605px; height: 552px;
    background: url("#{$img-path}/odyssey/ds1.png")  no-repeat 0 0/contain;
    position: absolute; right: calc((1170px - 100vw)/2);
    top: 350px;
  }
  .title{
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
  }
  .text1{
    max-width: 570px;
    width: 100%;
    padding-top: 195px;
    animation-delay: .5s;
    p{margin: 33px 0 0; font-size: 20px;line-height: 30px;}
  }
}
.feature{
  width: 100%;
  h4{
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
  }
  p{margin-bottom: 0; font-size: 20px; line-height: 28px;}
  &_content{
    margin: -1px 0;
    padding: 70px 0 80px;
    min-height: 1000px;
    background: #000;
  }
  .item{
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    color: #fff;
    .col_left{max-width: 470px; margin-right: 30px;}
  }
  .item1{
    margin-bottom: 101px;
    .col_right{max-width: 675px;}
    video{width: 670px;}
  }
  .item2{
    margin-bottom: 60px;
    .col_left{margin-right: 130px;}
    .col_right{max-width: 564px; padding-top: 40px;}
  }
  .item3{
    .col_left{padding-top: 74px;}
    .img-container{max-width: 662px;}
  }
  &:before,&:after{
    content: "";
    display: block;
    width: 100%;
  }
  &:before{
    height: vw(479px);
    background: url("#{$img-path}/odyssey/line-up.png") no-repeat 0 0/100% 100%;
  }
  &:after{
    height: vw(482px);
    background: url("#{$img-path}/odyssey/line-down.png") no-repeat 0 0/100% 100%;
  }
}
.img-phone1{
  width: 370px;
  height: 376px;
  position: relative;
  img{margin-top: 69px;}
  .ef{position: absolute; width: 150px; height: 120px;}
  .ef1{
    background: url("#{$img-path}/odyssey/sec4-ele1.png") no-repeat 0 0/contain;
    left: 5px; top: 0;
    animation: opacity 2s infinite linear;
  }
  .ef2{
    background: url("#{$img-path}/odyssey/sec4-ele2.png") no-repeat 0 0/contain;
    left: 214px; top: 8px;
    animation: movie 5s infinite linear .5s;
  }
  .ef3{
    background: url("#{$img-path}/odyssey/sec4-ele2.png") no-repeat 0 0/contain;
    left: 0; bottom: 5px;
    animation: movie 3s infinite linear;
  }
}
.register{
  margin: 215px 0 0;
  text-align: center;
  color: #fff;
  h2{margin-bottom: 38px; font-weight: 700; font-size: 24px; line-height: 31px;}
  .btn-register{margin: 0 auto;}
}

.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
img{max-width: 100%;}

.modal-menu{
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0; left: 0;
  background: rgba(#000,.8);
  z-index: 90;
  &.is-open{display: block;}
}

// ---------- footer --------- //
footer{
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  .social{
    li{margin: 0 15px;}
    i{color: #b3b3b3; font-size: 24px; transition: .3s;}
    li:hover i{color: #333;}
  }
  .logo{
    line-height: initial;
    img{opacity: .1; transition: .5s;}
  }
  .logo:hover img{opacity: .5;}
  .inner{padding: 36px 0; justify-content: space-between; align-items: center;}
  .copyright{margin-bottom: 0; font-size: 18px; color: v(black);}
}

//responsive
@media (max-width: 1440px){
  @function vw1($target) {
    $vw-context: (1440 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .img-effect{
    width: vw1(605px);
    height: vw1(771px);
    margin-right: vw1(130px);
  }
  .section2{
    .text1{
      padding-top: vw1(195px);
    }
  }
}
@media (max-width: 1023px){
  @function wp($target) {
    $vw-context: (1024 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .navbar-toggler{
    display: block;
    width: 21px;
    height: 24px;
    padding: 0; position: absolute;
    top: 15px;
    right: 12px;
    background: none; border: none;
    span{
      display: block; width: 21px; height: 3px;
      background: #111; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 21px; height: 3px; background: #111; position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 21px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 21px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar{
    padding: 12px 14px;
    .close{display: block;}
    .brand img{max-width: 175px;}
    &.scroll{
      padding: 12px 14px;
      .brand img{max-width: 175px;}
    }
    &.active{
      .navbar-collapse{right: 0;}
    }
  }
  .navbar-collapse{
    width: calc(100% - 70px);
    max-width: 400px;
    height: 100%;
    display: block;
    background: #fff;
    position: fixed; right: calc(70px - 100%); top: 0;
    transition: right .3s linear;
    z-index: 999;
    ul{height: 100%; overflow: auto;}

  }
  .navbar-nav{
    padding: 40px 0 0 30px;
    > li{padding: 12px 0;}
    > li > a{font-size: 22px;}
    > li > a.active{color: #111;}
    > li.active{
      a{color: #111;}
      .sub-menu{display: block;}
      .show-menu{transform: rotate(180deg); top: 14px;}
    }
    a:hover:before,a.active:before{
      width: 50px; bottom: 0;
    }
    .show-menu{
      display: block; position: absolute; right: 0; top: 6px;
      transition: .4s;
      i{font-size: 24px; color: #b3b3b3;}
    }
    .sub-menu{
      display: none;
      padding: 0 10px;
      box-shadow: none;
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      li:last-child{padding-bottom: 0;}
      li a{padding: 0;}
      &:before{display: none;}
    }
  }
  main{
    margin-top: 52px;
    padding-bottom: 100px;
  }
  
  .text{
    padding-right: 0;
    h2.title{
      line-height: initial;
      font-size: 35px;
      &:before{margin-right: 20px;}
    }
    p{padding-right: 0; font-size: 18px; line-height: 30px;}
  }
  .scroll-eff{display: none;}
  .btn-register{
    width: 90%; max-width: 360px;
    height: 55px;
  }
  .section2{
    margin-top: 50px;
    padding-top: 0;
    &:after{
      width: vwm(605px); height: vwm(552px);
      max-width: 605px; max-height: 552px;
      right: 0; bottom: 0; top: initial;
    }
    .text1{padding: 20px 30px 0;}
    .title{font-size: 38px; line-height: 45px;}
  }
  .img-phone{
    width: 100%;
    margin: 20px auto;
    height: auto;
    max-width: 470px;
  }
  .feature{
    margin-top: 60px;
    h4{font-size: 30px; line-height: 35px;}
    p{font-size: 18px; line-height: 26px;}
    .item3{
      .col_left{padding-top: 0;}
    }
  }
  .register{margin-top: 50px;}

  
}

@media(max-width: 767px){
  .intro{
    .row{flex-direction: column-reverse;}
    .btn-register{animation-delay: .5s;}
  }
  .text{
    p:nth-child(3){animation-delay: .3s;}
    p:nth-child(4){animation-delay: .3s;}
    p:nth-child(5){animation-delay: .3s;}
  }
  .text1{padding-top: 30px;}
  .img-phone1{transform: scale(.8); margin-left: -12px;}
  .feature{
    .item{
      flex-wrap: wrap;
      .col_left{max-width: 100%; margin: 0 0 30px 0;}
    }
    .item1{
      margin-bottom: 30px;
      video{width: 100%;}
    }
    .item2{
      margin-bottom: 0;
      flex-direction: column-reverse;
      .col-right{padding-top: 0;}
    }
  }

  footer{
    .inner{padding: 25px 0;}
    .logo,.social{margin: 0 10px;}
    .inner{justify-content: center;}
    .social{padding: 25px 0;}
    .copyright{flex-basis: 100%; text-align: center;}
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  @function vwf($target) {
    $vw-context: (1200 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .img-effect{
    width: 50%;
    height: auto;
    margin: 0;
    .icon-circle{
      width: vwf(95px); height: vwf(95px);
      left: vwf(60px); top: vwf(12px);
    }
    .ef1{width: vwf(565px); top: vwf(118px);}
    .ef2{width: vwf(250px); top: vwf(104px); left: vwf(111px);}
    .ef3{width: vwf(242px); left: vwf(320px);}
    .ef4{width: vwf(65px); top: vwf(227px);}
  }
  .intro{padding-top: 50px;}
  .feature{
    .item .col_left{max-width: 50%; margin-right: 0; padding-right: 30px;}
    .item1{
      .col_right{max-width: 50%;}
      video{width: 100%;}
    }
    .item2{
      .col_left{min-width: 50%;}
      .col_right{max-width: 50%;}
    }
  }
  .section2{
    .text1{max-width: 50%; padding: vwm(100px) 30px 0;}
  }
  .img-phone1{transform: scale(.9);}
  .img-phone{margin: 50px auto;}
}


@media (max-width: 470px){
  @function wp($target) {
    $vw-context: (470 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .img-phone{
    .layer2{
      width: wp(260px);
      left: wp(81px);
      top: wp(102px);
    }
    .layer3{
      width: wp(290px);
      top: wp(131px);
      left: wp(143px);
    }
    .layer4{
      top: wp(72px);
      width: wp(392px);
      left: wp(15px);
    }
    .ef1{
      width: wp(61px); height: wp(67px);
      right: wp(6px); top: wp(364px);
    }
    .ef2{
      width: wp(48px);
      height: wp(48px);
      left: wp(112px);
    }
    .ef3{
      width: wp(46px); height: wp(44px);
      left: wp(107px); top: wp(372px);
    }
  }
}
@media (max-width: 605px) {
  @function vwf($target) {
    $vw-context: (605 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .img-effect{
    width: vwf(605px);
    height: auto;
    margin-left: 0;
    margin-right: vwf(130px);
    .icon-circle{
      width: vwf(95px); height: vwf(95px);
      left: vwf(60px); top: vwf(12px);
    }
    .ef1{width: vwf(565px); top: vwf(118px);}
    .ef2{width: vwf(250px); top: vwf(104px); left: vwf(111px);}
    .ef3{width: vwf(242px); left: vwf(320px);}
    .ef4{width: vwf(65px); top: vwf(227px);}
  }
}
@media (max-width: 320px) {
  .img-phone1{margin-left: -40px;}
}

@media (min-width: 768px) and (max-width: 1200px){
  @function wp($target) {
    $vw-context: (1024 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .img-phone{
    .layer2{
      width: wp(260px);
      left: wp(81px);
      top: wp(102px);
    }
    .layer3{
      width: wp(290px);
      top: wp(131px);
      left: wp(143px);
    }
    .layer4{
      top: wp(72px);
      width: wp(392px);
      left: wp(15px);
    }
    .ef1{
      width: wp(61px); height: wp(67px);
      right: wp(6px); top: wp(364px);
    }
    .ef2{
      width: wp(48px);
      height: wp(48px);
      left: wp(112px);
    }
    .ef3{
      width: wp(46px); height: wp(44px);
      left: wp(107px); top: wp(372px);
    }
  }
}
@media (min-width: 1024px) and (max-width: 1200px){
  @function wp($target) {
    $vw-context: (1200 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .navbar,.navbar.scroll{padding: 15px;}
  .img-phone{
    .layer2{
      width: wp(260px);
      left: wp(81px);
      top: wp(102px);
    }
    .layer3{
      width: wp(290px);
      top: wp(131px);
      left: wp(143px);
    }
    .layer4{
      top: wp(72px);
      width: wp(392px);
      left: wp(15px);
    }
    .ef1{
      width: wp(61px); height: wp(67px);
      right: wp(6px); top: wp(364px);
    }
    .ef2{
      width: wp(48px);
      height: wp(48px);
      left: wp(112px);
    }
    .ef3{
      width: wp(46px); height: wp(44px);
      left: wp(107px); top: wp(372px);
    }
  }
}

//animation
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes movie {
  0%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(15px,0,0);
  }
  100%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
}
@keyframes movie {
  0%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(15px,0,0);
  }
  100%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
}
@-webkit-keyframes opacity {
  0%{
    opacity: .5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: .5;
  }
}

@-webkit-keyframes scroll {
  0%{
    opacity: 0.3;
    transform: translateY(5px);
  }
  50%{
    opacity: 1;
    transform: translateY(-5px);
  }
  100%{
    opacity: .3;
    transform: translateY(5px);
  }
}
@keyframes scroll {
  0%{
    opacity: 0.3;
    transform: translateY(5px);
  }
  50%{
    opacity: 1;
    transform: translateY(-5px);
  }
  100%{
    opacity: .3;
    transform: translateY(5px);
  }
}

@-webkit-keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@-webkit-keyframes rotate1 {
  0%{transform: rotate(0deg);}
  50%{transform: rotate(90deg);}
  100%{transform: rotate(0deg);}
}
@keyframes rotate1 {
  0%{transform: rotate(0deg);}
  50%{transform: rotate(90deg);}
  100%{transform: rotate(0deg);}
}
@-webkit-keyframes rotate2 {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes rotate2 {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes flash2 {
  0%{
    opacity: .5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: .5;
  }
}

@keyframes flash2 {
  0%{
    opacity: .5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: .5;
  }
}

.flash2 {
  -webkit-animation-name: flash2;
  animation-name: flash2;
}

@keyframes flash1 {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash1 {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash1{
  animation-name: flash;
  -webkit-animation-name: flash;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}