:root{

}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  background: #fff url("#{$img-path}/odyssey/bg.png") no-repeat right top;
  background-size: 100% auto;
  color: #000;
  overflow-x: hidden;
}
main{padding-bottom: 120px;}
.container{max-width: 1200px;}
h1{margin: 0; display: inline-block;}
.logo{
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  color: #000;
  &:before{
    content: "";
    width: 15px;
    height: 100px;
    margin-right: 20px;
    display: inline-block;
    background: #F2B41B;
  }
  &:hover{color: #000;}
}
.intro{
  .col-left{max-width: 670px;}
  .col-right{max-width: 470px;}
  .btn-register{margin-top: 15px; animation-delay: 1.5s;}
}
.text{
  padding-right: 48px;
  h4{
    margin-bottom: 1.1rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
  p{margin-bottom: 10px; font-size: 20px; line-height: 35px;}
  p:nth-child(3){animation-delay: .4s;}
  p:nth-child(4){animation-delay: 8s;}
  p:nth-child(5){animation-delay: 1.2s;}
  p:last-child{margin-top: 34px; font-weight: 500;}
}
.img-phone{
  margin-top: -35px;
  width: 470px; height: 487px;
  display: block;
  position: relative;
  animation-delay: .5s;
  .parallax-layer{position: absolute;}
  .layer1{position: relative;}
  .layer2{
    width: 260px;
    left: 88px;
    top: 112px;
  }
  .layer3{
    width: 315px;
    top: 138px;
    left: 149px;
  }
  .layer4{
    top: 72px;
    width: 426px;
    left: 15px;
  }
  .icon-ef{position: absolute;}
  .ef1{
    width: 61px; height: 67px;
    background: url("#{$img-path}/odyssey/icon-triangle.png") no-repeat 0 0/contain;
    right: 6px; top: 364px;
    animation: flash 4s infinite linear;
  }
  .ef2{
    width: 48px; height: 48px;
    background: url("#{$img-path}/odyssey/icon-hexagon.png") no-repeat 0 0/contain;
    top: 0; left: 112px;
    animation: rotate1 3s infinite linear;
  }
  .ef3{
    width: 46px; height: 44px;
    background: url("#{$img-path}/odyssey/icon-hexagon1.png") no-repeat 0 0/contain;
    left: 107px; top: 372px;
    animation: rotate 2s linear infinite;
  }
}
.btn-register{
  width: 371px; height: 80px; background: #000;
  border: none;
  color: #fff; font-size: 24px; line-height: 31px;
  font-weight: 700; border-radius: 0;
  position: relative;
  overflow: hidden;
  span{position: relative; z-index: 9;}
  &:after{
    content: "";
    width: 100%; height: 100%;
    background: #F2B41B;
    transition: all 0.25s linear 0s;
    transform:  rotate(45deg) scale(1);
    position: absolute; top: 0; left: 0;
    opacity: 0;
  }
  &:hover{color: #000;}
  &:hover:after{
    transform: rotate(45deg) scale(6);
    opacity: 1;
  }
}
.btn{
  padding: 0;
}
.img-effect{
  .icon-ef{position: absolute;}
  .ef1{
    width: 58px; height: 62px;
    background: url("#{$img-path}/odyssey/icon-setting.png") no-repeat 0 0/contain;
    left: 10px; top: 164px;
    animation: rotate 4s infinite linear;
  }
  .ef2{
    width: 26px; height: 28px;
    background: url("#{$img-path}/odyssey/icon-setting1.png") no-repeat 0 0/contain;
    left: 77px; top: 134px;
    animation: rotate 2s infinite linear;
  }
  .ef3{
    width: 49px; height: 43px;
    background: url("#{$img-path}/odyssey/icon-m.png") no-repeat 0 0/contain;
    top: 12px; left: 468px;
    animation: flash 3s infinite linear;
  }
}

.section2{
  margin-top: 147px;
  .col-left,.col-right{width: 50%;}
  .title{
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
  }
  .text1{
    animation-delay: .5s;
    p{margin: 33px 0 0; font-size: 20px;line-height: 30px;}
  }
}
.feature{
  margin-top: 110px;
  justify-content: center;
  position: relative;
  &_item{
    width: 100%;
    max-width: 370px;
    min-height: 300px;
    margin: 20px 15px;
    padding: 35px 20px 0;
    background: #F2B41B;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }
  h4{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }
  p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 28px;
  }
  .icon{display: block;}
  .icon-time{margin-bottom: 27px;}
  .icon-phone{margin-bottom: 16px;}
  .icon-doc{margin-bottom: 25px;}
  .icon-score{margin-bottom: 18px;}
  &:before,&:after{
    content: ""; position: absolute;
  }
  &:before{
    width: 605px; height: 1030px;
    background: url("#{$img-path}/odyssey/ds3.png") no-repeat 0 0/contain;
    left: calc((1170px - 100vw)/2); top: -170px;
  }
  &:after{
    width: 605px; height: 552px;
    background: url("#{$img-path}/odyssey/ds1.png") no-repeat 0 0/contain;
    right: calc((1170px - 100vw)/2); top: -175px;
  }
}
.register{
  margin-top: 68px;
  text-align: center;
  h2{margin-bottom: 28px; font-weight: 700; font-size: 24px; line-height: 31px;}
  .btn-register{margin: 0 auto;}
}

.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
img{max-width: 100%;}

//responsive
@media (max-width: 1024px){
  @function wp($target) {
    $vw-context: (1024 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  main{padding-bottom: 100px;}
  .logo{
    font-size: 42px; line-height: 55px;
    &:before{width: 10px; height: 80px; margin-right: 15px;}
  }
  .text{
    padding-right: 0;
    p{font-size: 18px; line-height: 30px;}
  }
  .btn-register{
    width: 100%; max-width: 360px;
    height: 55px;
  }
  .section2{
    margin-top: 100px;
    .title{font-size: 38px; line-height: 45px;}
  }
  .img-phone{
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-width: 470px;
  }
  .feature{
    margin-top: 60px;
    &_item{
      max-width: 330px;
      padding: 25px 15px 15px;
    }
    p{font-size: 15px; line-height: 26px;}
    &:after{
      width: vwm(605px); height: vwm(552px);
      right: -20px; top: vwm(-180px);
    }
    &:before{
      width: vwm(605px);
      height: vwm(1030px);
      left: -20px; top: vwm(-175px);
    }
  }
  .register{margin-top: 50px;}
}

@media(max-width: 767px){
  .intro{
    flex-direction: column-reverse;
    .btn-register{animation-delay: .5s;}
  }
  .text{
    p:nth-child(3){animation-delay: .3s;}
    p:nth-child(4){animation-delay: .3s;}
    p:nth-child(5){animation-delay: .3s;}
  }
  .text1{padding-top: 30px;}
  .feature .icon {transform: scale(.8);}
}

@media (max-width: 470px){
  @function wp($target) {
    $vw-context: (470 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .img-phone{
    .layer2{
      width: wp(260px);
      left: wp(81px);
      top: wp(102px);
    }
    .layer3{
      width: wp(290px);
      top: wp(131px);
      left: wp(143px);
    }
    .layer4{
      top: wp(72px);
      width: wp(392px);
      left: wp(15px);
    }
    .ef1{
      width: wp(61px); height: wp(67px);
      right: wp(6px); top: wp(364px);
    }
    .ef2{
      width: wp(48px);
      height: wp(48px);
      left: wp(112px);
    }
    .ef3{
      width: wp(46px); height: wp(44px);
      left: wp(107px); top: wp(372px);
    }
  }
}
@media (max-width: 570px){
  @function wp1($target) {
    $vw-context: (570 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .img-effect{
    .ef1{
      width: wp1(58px); height: wp1(62px);
      max-width: 58px; max-height: 62px;
      left: wp1(10px); top: wp1(164px);
    }
    .ef2{
      width: wp1(26px); height: wp1(28px);
      left: wp1(77px); top: wp1(134px);
    }
    .ef3{
      width: wp1(49px); height: wp1(43px);
      top: wp1(12px); left: wp1(468px);
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px){
  @function wp($target) {
    $vw-context: (1024 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .img-phone{
    .layer2{
      width: wp(260px);
      left: wp(81px);
      top: wp(102px);
    }
    .layer3{
      width: wp(290px);
      top: wp(131px);
      left: wp(143px);
    }
    .layer4{
      top: wp(72px);
      width: wp(392px);
      left: wp(15px);
    }
    .ef1{
      width: wp(61px); height: wp(67px);
      right: wp(6px); top: wp(364px);
    }
    .ef2{
      width: wp(48px);
      height: wp(48px);
      left: wp(112px);
    }
    .ef3{
      width: wp(46px); height: wp(44px);
      left: wp(107px); top: wp(372px);
    }
  }
  .img-effect{
    .ef1{
      width: wp(58px); height: wp(62px);
      left: wp(10px); top: wp(164px);
    }
    .ef2{
      width: wp(26px); height: wp(28px);
      left: wp(77px); top: wp(134px);
    }
    .ef3{
      width: wp(49px); height: wp(43px);
      top: wp(12px); left: wp(468px);
    }
  }
}
@media (min-width: 1024px) and (max-width: 1200px){
  @function wp($target) {
    $vw-context: (1200 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .img-phone{
    .layer2{
      width: wp(260px);
      left: wp(81px);
      top: wp(102px);
    }
    .layer3{
      width: wp(290px);
      top: wp(131px);
      left: wp(143px);
    }
    .layer4{
      top: wp(72px);
      width: wp(392px);
      left: wp(15px);
    }
    .ef1{
      width: wp(61px); height: wp(67px);
      right: wp(6px); top: wp(364px);
    }
    .ef2{
      width: wp(48px);
      height: wp(48px);
      left: wp(112px);
    }
    .ef3{
      width: wp(46px); height: wp(44px);
      left: wp(107px); top: wp(372px);
    }
  }
  .img-effect{
    .ef1{
      width: wp(58px); height: wp(62px);
      left: wp(10px); top: wp(164px);
    }
    .ef2{
      width: wp(26px); height: wp(28px);
      left: wp(77px); top: wp(134px);
    }
    .ef3{
      width: wp(49px); height: wp(43px);
      top: wp(12px); left: wp(468px);
    }
  }
}

//animation
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@-webkit-keyframes rotate1 {
  0%{transform: rotate(0deg);}
  50%{transform: rotate(90deg);}
  100%{transform: rotate(0deg);}
}
@keyframes rotate1 {
  0%{transform: rotate(0deg);}
  50%{transform: rotate(90deg);}
  100%{transform: rotate(0deg);}
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@keyframes flash1 {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash1 {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash1{
  animation-name: flash;
  -webkit-animation-name: flash;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}