<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style-curio.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body class="{{bodyClasses}}">
{% block content %}{% endblock %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script>
    $('.navbar-toggler').click(function () {
        $('header nav').toggleClass('active');
        $('.modal-menu').addClass('is-open');
    });
    $('.navbar-collapse .close,.modal-menu').click(function(){
        $('.navbar').removeClass('active');
        $('.modal-menu').removeClass('is-open');
    });

    $(window).on("load", function (e) {
        $(".navbar-nav .sub-menu").parent("li").append("<span class='show-menu'><i class='fas fa-sort-down'></i></span>");
        $('.loading').hide();
    });
    $('.navbar-nav > li').click(function () {
        $('.navbar-nav > li').removeClass('active');
        $(this).toggleClass('active');
    });

    // effect navbar
    $(window).scroll(function () {
        if ($(this).scrollTop() > 0) {
            $('.navbar').addClass('scroll');
        }else{
            $('.navbar').removeClass('scroll');
        }
    });

    $.fn.isInViewport = function() {
        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight() - 100;

        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height() - 100;

        return elementBottom > viewportTop && elementTop < viewportBottom;
    };
    $(window).on('resize scroll load', function() {
        $('.fadeup').each(function() {
            if ($(this).isInViewport()) {
                $(this).addClass('fadeInUp').css({'opacity':'1','visibility':'visible'});
            }
        });
        $('.fadein').each(function() {
            if ($(this).isInViewport()) {
                $(this).addClass('fadeIn').css({'opacity':'1','visibility':'visible'});
            }
        });
        $('.zoomin').each(function() {
            if ($(this).isInViewport()) {
                $(this).addClass('zoomIn').css({'opacity':'1','visibility':'visible'});
            }
        });
    });
</script>
</body>
</html>