<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500,500i,600,700&amp;subset=greek,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,500,600,700" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <!-- endbuild -->

</head>

<body class="{{bodyClasses}}">
<div class="wrapper">
    {% include "../share/header.html" %}
    {% block content %}{% endblock %}
    {% include "../share/footer.html" %}
</div>
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzQJIwpNikNX5hG0HWuVwUjnBzDed0Qr4"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/map_snazzy.js"></script>
<script src="./assets/js/countUp.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script src="./assets/js/home.js"></script>

</body>
</html>