<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style-odyssey.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body class="{{bodyClasses}}">
{% block content %}{% endblock %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/jquery.parallaxify.js"></script>

<script>
    $('.parallax').parallaxify({
        positionProperty: 'transform',
        responsive: true,
        motionType: 'natural',
        mouseMotionType: 'performance',
        motionAngleX: 60,
        motionAngleY: 60,
        alphaFilter: 0.5,
        adjustBasePosition: true,
        alphaPosition: 0.025
    });

    $.fn.isInViewport = function() {
        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight() - 100;

        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height() - 100;

        return elementBottom > viewportTop && elementTop < viewportBottom;
    };
    $(window).on('resize scroll load', function() {
        $('.text1,.feature_item,.intro h4,.text p').each(function() {
            if ($(this).isInViewport()) {
                $(this).addClass('fadeInUp').css({'opacity':'1','visibility':'visible'});
            }
        });
        $('.intro .btn-register,.flip-text').each(function() {
            if ($(this).isInViewport()) {
                $(this).addClass('flipInX').css({'opacity':'1','visibility':'visible'});
            }
        });
        $('.img-effect').each(function() {
            if ($(this).isInViewport()) {
                $(this).addClass('fadeIn').css({'opacity':'1','visibility':'visible'});
            }
        });
        $('.register,.img-phone').each(function() {
            if ($(this).isInViewport()) {
                $(this).addClass('zoomIn').css({'opacity':'1','visibility':'visible'});
            }
        });
    });
</script>
</body>
</html>