<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500,500i,600,700&amp;subset=greek,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,500,600,700" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/slider.css" rel="stylesheet">
    <!-- endbuild -->
    <style>

    </style>

</head>

<body class="{{bodyClasses}}">
<div class="wrapper">

    {% block content %}{% endblock %}
    {% include "../share/footer.html" %}
</div>
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>

<script>
    var tag = document.createElement('script');
    tag.src = "http://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
            height: '315',
            width: '560',
            playerVars: { 'autoplay': 1, 'controls': 1,'autohide':1,'wmode':'opaque' },
            videoId: 'Pdn1l93Rj_w',
            events: {
                'onReady': onPlayerReady}
        });

    }

    function onPlayerReady(event) {
        event.target.mute();
    }

    function toggleSound() {
        if (player.isMuted()) {
            player.unMute()
        } else {
            player.mute()
        }
    }

    $('#mute-video').on('click', function(){
        toggleSound();

    });
</script>

</body>
</html>