<header>
    <nav class="navbar navbar-expand-lg">
        <a class="brand" href=""><img src="./assets/images/odyssey/logo.png" alt=""></a>
        <button class="navbar-toggler border-0" type="button">
            <span></span>
        </button>
        <div class="navbar-collapse" id="navbar">
            <a href="javascript:;" class="close" data-miss="collapse"><i class="fas fa-times"></i></a>
            <ul class="navbar-nav">
                <li><a href="home.html" title="Home"><span>Home</span></a></li>
                <li>
                    <a href="javascript:;" title="Services"><span>Services</span></a>
                    <ul class="sub-menu">
                        <li><a href="" title="Steamography">Steamography</a></li>
                        <li><a href="" title="Middle School">Middle School</a></li>
                        <li><a href="" title="High School">High School</a></li>
                        <li><a href="" title="Admissions Consulting">Admissions Consulting</a></li>
                        <li><a href="" title="International Kindergarten">International Kindergarten</a></li>
                    </ul>
                </li>
                <li><a href="results.html" title="Results"><span>Results</span></a></li>
                <li><a href="" title="Registration"><span>Registration</span></a></li>
                <li><a href="news.html" title="News"><span>News</span></a></li>
                <li><a href="creator-space.html" title="Careers"><span>Careers</span></a></li>
            </ul>
        </div>
        <div class="modal-menu"></div>
    </nav>
</header>
<main>
    <section class="section intro pr">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <ul class="pointave_list">
                        <li class="active js-animation fadeup">
                            <h4>Elementary Day Camp</h4>
                            <h3><span>Academic & Boarding Camp</span></h3>
                            <p>With 10 years of extensive experience in children’s edutainment field, Play Curio focuses on providing integrated content with both online and offline methods. As the leading Ed-Tech provider in Vietnam, we, at</p>
                        </li>
                        <li class="js-animation fadeup">
                            <h4>Elementary Day Camp</h4>
                            <h3><span>Academic & Boarding Camp</span></h3>
                            <p>With 10 years of extensive experience in children’s edutainment field, Play Curio focuses on providing integrated content with both online and offline methods. As the leading Ed-Tech provider in Vietnam, we, at</p>
                        </li>
                        <li class="js-animation fadeup">
                            <h4>Middle & High School Day Camp</h4>
                            <h3><span>Academic & Boarding Camp</span></h3>
                            <p>With 10 years of extensive experience in children’s edutainment field, Play Curio focuses on providing integrated content with both online and offline methods. As the leading Ed-Tech provider in Vietnam, we, at</p>
                        </li>
                        <li class="js-animation fadeup">
                            <h4>Test Prep Boot Camp</h4>
                            <h3><span>Test Prep Boot Camp</span></h3>
                            <p>With 10 years of extensive experience in children’s edutainment field, Play Curio focuses on providing integrated content with both online and offline methods. As the leading Ed-Tech provider in Vietnam, we, at</p>
                        </li>
                        <li class="js-animation fadeup">
                            <h4>Debate Intensive Camp</h4>
                            <h3><span>Debate Intensive Camp</span></h3>
                            <p>With 10 years of extensive experience in children’s edutainment field, Play Curio focuses on providing integrated content with both online and offline methods. As the leading Ed-Tech provider in Vietnam, we, at</p>
                        </li>
                    </ul>
                    <a href="" class="btn-view-more flex-center js-animation fadeup" title=""><span>Register</span></a>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="video js-animation fadein">
                        <iframe src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=1&unmute=1&loop=1&playlist=QV5EXOFcdrQ" frameborder="0" allow="" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-yellow">
        <div class="container">
            <div class="register js-animation fadeup">
                <form action="" method="">
                    <div class="form-row">
                        <div class="form-group effect_border col-md-4">
                            <label>Parent’s Name</label>
                            <input class="form-control" type="text" name="name" required>
                        </div>
                        <div class="form-group effect_border col-md-4">
                            <label>Parent’s Phone number</label>
                            <input class="form-control" type="number" name="name" required>
                        </div>
                        <div class="form-group effect_border col-md-4">
                            <label>Student’s Grade</label>
                            <input class="form-control" type="text" name="name" required>
                        </div>
                    </div>
                    <div class="form-group box-radio flex-center">
                        <label>Is your child a student of Point Avenue? </label>
                        <div class="radio-checkbox">
                            <label><input type="radio" name="qs"> Yes <span class="checked"></span></label>
                        </div>
                        <div class="radio-checkbox">
                            <label><input type="radio" name="qs"> No <span class="checked"></span></label>
                        </div>
                    </div>
                    <button type="button" class="btn_submit flex-center">Get Offer</button>
                </form>
            </div>
            <div class="differences">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <article class="js-animation fadeinleft">
                            <h2 class="title">Differences</h2>
                            <p>With 10 years of extensive experience in children’s edutainment field, Play Curio focuses on providing integrated content with both online and offline methods. As the leading Ed-Tech provider in Vietnam, we, at </p>
                        </article>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="differences__slider js-animation fadeinright">
                            <div class="item"><img src="./assets/images/camp/img-defferences.jpg" alt=""></div>
                            <div class="item"><img src="./assets/images/camp/img-defferences.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="schedule pr">
        <div class="container">
            <h2 class="title js-animation fadeup">Camp Schedule</h2>
            <div class="schedule__slider js-animation fadeup">
                <div class="item">
                    <img src="./assets/images/camp/img-schedule.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./assets/images/camp/img-schedule.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="coach container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="coach__slider js-animation fadeinleft">
                    <div class="item">
                        <iframe src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=1&unmute=1&loop=1&playlist=QV5EXOFcdrQ" frameborder="0" allow="" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <iframe src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=1&unmute=1&loop=1&playlist=QV5EXOFcdrQ" frameborder="0" allow="" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <article class="js-animation fadeinright">
                    <h2 class="title">Coach</h2>
                    <p class="des">With 10 years of extensive experience in children’s edutainment field, Play Curio focuses on providing integrated content with both online and offline methods. As the leading Ed-Tech provider in Vietnam, we, at </p>
                </article>
            </div>
        </div>
    </section>
    <section class="testimonials pr">
        <div class="container">
            <h2 class="title js-animation fadeup">Testimonials</h2>
            <div class="testimonials__slider js-animation fadeup">
                <div class="item"><a rel="img_testimonials" href="./assets/images/camp/img-testimonials.jpg"><img src="./assets/images/camp/img-testimonials.jpg" alt=""></a></div>
                <div class="item"><a rel="img_testimonials" href="./assets/images/camp/img-defferences.jpg"><img src="./assets/images/camp/img-defferences.jpg" alt=""></a></div>
                <div class="item"><a rel="img_testimonials" href="./assets/images/camp/img-testimonials.jpg"><img src="./assets/images/camp/img-testimonials.jpg" alt=""></a></div>
                <div class="item"><a rel="img_testimonials" href="./assets/images/camp/img-testimonials.jpg"><img src="./assets/images/camp/img-testimonials.jpg" alt=""></a></div>
            </div>
        </div>
    </section>
    <section class="offers container">
        <h2 class="title">Our Offers</h2>
        <div class="offers__img">
            <img src="./assets/images/camp/img-offers.jpg" alt="">
        </div>
    </section>
    <section class="contact container">
        <h3 class="js-animation fadeup">Contact us for more information</h3>
        <a href="" title="Contact Us" class="btn_contact flex-center js-animation zoomin"><span>Contact Us</span></a>
    </section>
</main>
<footer>
    <div class="container">
        <div class="inner flex">
            <div class="logo">
                <a href="" title=""><img src="./assets/images/logo.png" class="bg" alt=""></a>
            </div>
            <ul class="social flex">
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-youtube"></i></a></li>
            </ul>
            <p class="copyright">Copyright Ⓒ 2019 Point Avenue</p>
        </div>
    </div>
</footer>