<main class="category">
    <div class="container">
        <div class="box-breadcrumb pr" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Creator Space</a></li>
                <li class="breadcrumb-item"><a href="#">KidTeacher</a></li>
                <li class="breadcrumb-item active" aria-current="page">Enlightenment Is Not Just One State</li>
            </ol>
        </div>
        <div class="creatorDetail row">
            <div class="col-lg-8">
                <div class="video pr">
                    <video controls>
                        <source src="./assets/images/big_buck_bunny.mp4" type="video/mp4">
                    </video>
                </div>
                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                <h1 class="title">Enlightenment Is Not Just One State</h1>
                <article class="content">
                    <p>
                        Watching the news the other day, it occurred to me that people who have “words to live by” often begin to… attack and even kill others. I thought back to my own angry youth, when I could easily use words to justify violent thoughts which might have become violent actions. Words are tools, and yet it seems that they can be more dangerous than gunpowder.
                    </p>
                    <p>
                        Imagine two men facing each other, pointing past one another. One is pointing at a tornado that is coming, and the other at a raging fire headed towards them. Each sees their own truth and is angry at the sight of the other’s hand. Each feels that the other’s hand is “wrong.” This may seem silly, but replace the tornado and fire with any modern issues, and the hands with words, and this scene describes how we often try to communicate.
                    </p>
                    <p>
                        We point past each other with our words, arguing as though we are looking at the same facts and experiences. We want to prove our words are the right ones, instead of learning to look at what the other’s words are pointing at. Words are seductive, and for all their undeniable usefulness, they also can lead us away from understanding when we focus on them, when we make them more important than the truth they are meant to point at.
                    </p>
                    <p>There Are No Words To Live By</p>
                </article>
            </div>
            <div class="col-lg-4">
                <div class="sidebar_title">
                    <h4>Posts in the same KidTeacher</h4>
                </div>
                <div class="news__list">
                    <article class="post flex">
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <div class="content">
                            <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <div class="content">
                            <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <div class="content">
                            <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <div class="content">
                            <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <div class="content">
                            <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <div class="content">
                            <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>