<main class="category">
    <div class="container">
        <div class="creatorSpace">
            <div class="header_news flex">
                <h2 class="title">KidTeacher</h2>
                <span class="line"></span>
                <a href="" class="btn-more" title="See all">See all</a>
            </div>
            <div class="news row">
                <div class="col-lg-8">
                    <div class="news__video pr">
                        <div class="video pr">
                            <video controls>
                                <source src="./assets/images/big_buck_bunny.mp4" type="video/mp4">
                            </video>
                            <!--<a href="javascript:;" class="play-video"></a>-->
                        </div>
                        <div class="content">
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            <h3><a href="" title="">Enlightenment Is Not Just One State</a></h3>
                            <p class="des">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to… </p>
                            <a href="" class="btn btn_primary" title="See more">
                                See more
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news__list">
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="creatorSpace">
            <div class="header_news flex">
                <h2 class="title">KidTalk</h2>
                <span class="line"></span>
                <a href="" class="btn-more" title="See all">See all</a>
            </div>
            <div class="news row">
                <div class="col-lg-8">
                    <div class="news__video pr">
                        <div class="video pr">
                            <video controls>
                                <source src="./assets/images/big_buck_bunny.mp4" type="video/mp4">
                            </video>
                            <!--<a href="javascript:;" class="play-video"></a>-->
                        </div>
                        <div class="content">
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            <h3><a href="" title="">Enlightenment Is Not Just One State</a></h3>
                            <p class="des">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to… </p>
                            <a href="" class="btn btn_primary" title="See more">
                                See more
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news__list">
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="creatorSpace">
            <div class="header_news flex">
                <h2 class="title">SAT</h2>
                <span class="line"></span>
                <a href="" class="btn-more" title="See all">See all</a>
            </div>
            <div class="news row">
                <div class="col-lg-8">
                    <div class="news__video pr">
                        <div class="video pr">
                            <video controls>
                                <source src="./assets/images/big_buck_bunny.mp4" type="video/mp4">
                            </video>
                            <!--<a href="javascript:;" class="play-video"></a>-->
                        </div>
                        <div class="content">
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            <h3><a href="" title="">Enlightenment Is Not Just One State</a></h3>
                            <p class="des">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to… </p>
                            <a href="" class="btn btn_primary" title="See more">
                                See more
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news__list">
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                            <div class="content">
                                <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>