<main class="category">
    <div class="container">
        <div class="box-breadcrumb pr" aria-label="breadcrumb">
            <h2 class="title">KidTeacher</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Creator Space</a></li>
                <li class="breadcrumb-item active" aria-current="page">KidTeacher</li>
            </ol>
        </div>
        <div class="news_category">
            <div class="list_post row">
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb video">
                        <img src="./assets/images/ava-course.jpg" alt="">
                        <span class="icon-video"></span>
                    </a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
            </ul>
        </nav>
    </div>
</main>