<header>
    <nav class="navbar navbar-expand-lg">
        <a class="brand" href=""><img src="./assets/images/odyssey/logo.png" alt=""></a>
        <button class="navbar-toggler border-0" type="button">
            <span></span>
        </button>
        <div class="navbar-collapse" id="navbar">
            <a href="javascript:;" class="close" data-miss="collapse"><i class="fas fa-times"></i></a>
            <ul class="navbar-nav">
                <li><a href="home.html" title="Home"><span>Home</span></a></li>
                <li>
                    <a href="javascript:;" title="Services"><span>Services</span></a>
                    <ul class="sub-menu">
                        <li><a href="" title="Steamography">Steamography</a></li>
                        <li><a href="" title="Middle School">Middle School</a></li>
                        <li><a href="" title="High School">High School</a></li>
                        <li><a href="" title="Admissions Consulting">Admissions Consulting</a></li>
                        <li><a href="" title="International Kindergarten">International Kindergarten</a></li>
                    </ul>
                </li>
                <li><a href="results.html" title="Results"><span>Results</span></a></li>
                <li><a href="" title="Registration"><span>Registration</span></a></li>
                <li><a href="news.html" title="News"><span>News</span></a></li>
                <li><a href="creator-space.html" title="Careers"><span>Careers</span></a></li>
            </ul>
        </div>
        <div class="modal-menu"></div>
    </nav>
</header>
<main>
    <section class="section container intro pr">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <article class="text">
                    <h2 class="title js-animation fadeup">Play Curio</h2>
                    <p class="js-animation fadeup">
                        With 10 years of extensive experience in children’s edutainment field,
                        Play Curio focuses on providing integrated content with both online and offline methods.
                        As the leading Ed-Tech provider in Vietnam, we, at Point Avenue, are proud to partner with Play Curio to bring premium education learning products to Vietnam.
                    </p>
                    <a href="" class="btn-view-more flex-center js-animation fadeup" title=""><span>View More Details</span></a>
                </article>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="wrap_img js-animation zoomin">
                    <img src="./assets/images/playcurio/curio.png" class="img1" alt="">
                    <img src="./assets/images/playcurio/curio_characters.png" class="img2" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-yellow pr">
        <div class="digram">
            <div class="digram_img js-animation fadeup">
                <img src="./assets/images/playcurio/diagram.png" alt="">
            </div>
            <ul class="digram_list flex js-animation fadeup">
                <li>
                    <h4>Traditional Education</h4>
                    <p>Publication and printed materials</p>
                    <p>Toys</p>
                </li>
                <li>
                    <h3>Integrated <br> Educational Content</h3>
                </li>
                <li>
                    <h4>Digital Education</h4>
                    <p>E - Learning/ M - Learning</p>
                    <p>AR / VR / AI ...</p>
                </li>
            </ul>
        </div>
        <div class="curio">
            <div class="curio_card dictionary flex">
                <div class="col-left js-animation zoomin">
                    <div class="wrap_img">
                        <img src="./assets/images/playcurio/dictionary-text.png" class="img1" alt="">
                        <img src="./assets/images/playcurio/dictionary.png" class="img2" alt="">
                    </div>
                    <div class="wrap_btn flex">
                        <a href="" title=""><span>Buy Now</span></a>
                        <a href="" title=""><span>Download App</span></a>
                    </div>
                </div>
                <div class="col-right js-animation fadeup">
                    <h4>Dictionary Pop</h4>
                    <p class="des">Plain flashcards only have pictures & words, but Dictionary Pop brings your flashcards for toddlers to life to make learning fun & interactive!</p>
                    <ul>
                        <li>Learn up to 3 languages (English, Chinese, and Vietnamese) with 1 app and 100 flash cards</li>
                        <li>Words come alive through your smart phone so that you can interact with them visually!</li>
                        <li>Explore 10 different toddler essential categories, like food, feelings, family, and more.</li>
                    </ul>
                </div>
            </div>
            <div class="curio_card phonics flex">
                <div class="col-left js-animation zoomin">
                    <div class="wrap_img">
                        <img src="./assets/images/playcurio/phonicspop-text.png" class="img1" alt="">
                        <img src="./assets/images/playcurio/phonicspop.png" class="img2" alt="">
                    </div>
                    <div class="wrap_btn flex">
                        <button class="btn-comingsoon"><span>Coming Soon</span></button>
                    </div>
                </div>
                <div class="col-right js-animation fadeup">
                    <h4>Phonics Pop</h4>
                    <p class="des">Phonics Pop interactive flashcards is the best way to learn English Phonics for kids!</p>
                    <ul>
                        <li>Fun, interactive phonics learning tool based on world-renowned YBM Education curriculum</li>
                        <li>Improve your reading skills by learning words through chants, songs, and animations!</li>
                    </ul>
                </div>
            </div>
            <div class="curio_card worldmap flex">
                <div class="col-left js-animation zoomin">
                    <div class="wrap_img">
                        <img src="./assets/images/playcurio/worldmap-text.png" class="img1" alt="">
                        <img src="./assets/images/playcurio/worldmap.png" class="img2" alt="">
                    </div>
                    <div class="wrap_btn flex">
                        <button class="btn-comingsoon"><span>Coming Soon</span></button>
                    </div>
                </div>
                <div class="col-right js-animation fadeup">
                    <h4>Curio World Map</h4>
                    <p class="des">Travel to landmarks of 100 countries with just a simple scan from your smartphone. </p>
                    <ul>
                        <li>Visit each country by scanning their flag and learn about their history and culture through stories</li>
                        <li>Interact with the gigantic AR world map to see 3D pop-ups and animations of famous landmarks</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <div class="inner flex">
            <div class="logo">
                <a href="" title=""><img src="./assets/images/logo.png" class="bg" alt=""></a>
            </div>
            <ul class="social flex">
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-youtube"></i></a></li>
            </ul>
            <p class="copyright">Copyright Ⓒ 2019 Point Avenue</p>
        </div>
    </div>
</footer>