<header>
    <nav class="navbar navbar-expand-lg">
        <a class="brand" href=""><img src="./assets/images/odyssey/logo.png" alt=""></a>
        <button class="navbar-toggler border-0" type="button">
            <span></span>
        </button>
        <div class="navbar-collapse" id="navbar">
            <a href="javascript:;" class="close" data-miss="collapse"><i class="fas fa-times"></i></a>
            <ul class="navbar-nav">
                <li><a href="home.html" title="Home"><span>Home</span></a></li>
                <li>
                    <a href="javascript:;" title="Services"><span>Services</span></a>
                    <ul class="sub-menu">
                        <li><a href="" title="Steamography">Steamography</a></li>
                        <li><a href="" title="Middle School">Middle School</a></li>
                        <li><a href="" title="High School">High School</a></li>
                        <li><a href="" title="Admissions Consulting">Admissions Consulting</a></li>
                        <li><a href="" title="International Kindergarten">International Kindergarten</a></li>
                    </ul>
                </li>
                <li><a href="results.html" title="Results"><span>Results</span></a></li>
                <li><a href="" title="Registration"><span>Registration</span></a></li>
                <li><a href="news.html" title="News"><span>News</span></a></li>
                <li><a href="creator-space.html" title="Careers"><span>Careers</span></a></li>
            </ul>
        </div>
        <div class="modal-menu"></div>
    </nav>
</header>
<main>
    <section class="dictionary">
        <div class="wrap_img">
            <img src="./assets/images/playcurio/dictionarypop.png" alt="">
        </div>
        <div class="box-btn flex">
            <a href="" title="" class="btn_googleplay">Google play</a>
            <a href="" title="" class="btn_appstore"></a>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <div class="inner flex">
            <div class="logo">
                <a href="" title=""><img src="./assets/images/logo.png" class="bg" alt=""></a>
            </div>
            <ul class="social flex">
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-youtube"></i></a></li>
            </ul>
            <p class="copyright">Copyright Ⓒ 2019 Point Avenue</p>
        </div>
    </div>
</footer>