<main>
    <section class="slider flex pr">
        <div class="slider-wrapper">
            <div class="slider slider-nav">
                <div class="item">
                    <h3>STEAMography</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>STEAMography</h4>
                        </div>
                        <p>
                            It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question
                            It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question
                        </p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>Middle School Programs</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>Middle School Programs</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>High School Programs</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>High School Programs</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>Admissions Consulting</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>Admissions Consulting</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>International Kindergarten</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>International Kindergarten</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>Admissions Consulting</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>Admissions Consulting</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>International Kindergarten</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>International Kindergarten</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>Admissions Consulting</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>Admissions Consulting</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>International Kindergarten</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>International Kindergarten</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>Admissions Consulting</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>Admissions Consulting</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>International Kindergarten</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>International Kindergarten</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>Admissions Consulting</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>Admissions Consulting</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
                <div class="item">
                    <h3>International Kindergarten</h3>
                    <div class="detail">
                        <div class="head">
                            <span>For grades K-5</span>
                            <h4>International Kindergarten</h4>
                        </div>
                        <p>It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind of telescope will you get. And there is no question</p>
                        <a href="services.html" class="btn btn_secondary" title="View More Detail">View More Detail</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider slider-for">
            <div class="item youtube">
                <iframe class="embed-player slide-media" src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=1&unmute=1&loop=1&playlist=QV5EXOFcdrQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="item youtube">
                <iframe class="embed-player slide-media" src="https://www.youtube.com/embed/SsPmzbow_3w?enablejsapi=1&controls=1&loop=1&playlist=SsPmzbow_3w" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="item video">
                <video class="slide-video slide-media" loop muted preload="metadata">
                    <source src="./assets/images/mov_bbb.mp4" type="video/mp4">
                </video>
            </div>
            <div class="item video">
                <video class="slide-video slide-media" loop muted preload="metadata">
                    <source src="./assets/images/mov_bbb.mp4" type="video/mp4">
                </video>
            </div>
            <div class="item video">
                <video class="slide-video slide-media" loop muted preload="metadata">
                    <source src="./assets/images/mov_bbb.mp4" type="video/mp4">
                </video>
            </div>
            <div class="item youtube">
                <iframe class="embed-player slide-media" src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=1&unmute=1&loop=1&playlist=QV5EXOFcdrQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="item youtube">
                <iframe class="embed-player slide-media" src="https://www.youtube.com/embed/SsPmzbow_3w?enablejsapi=1&controls=1&loop=1&playlist=SsPmzbow_3w" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="item youtube">
                <iframe class="embed-player slide-media" src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=1&unmute=1&loop=1&playlist=QV5EXOFcdrQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="item youtube">
                <iframe class="embed-player slide-media" src="https://www.youtube.com/embed/SsPmzbow_3w?enablejsapi=1&controls=1&loop=1&playlist=SsPmzbow_3w" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="item youtube">
                <iframe class="embed-player slide-media" src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=1&unmute=1&loop=1&playlist=QV5EXOFcdrQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="item youtube">
                <iframe class="embed-player slide-media" src="https://www.youtube.com/embed/SsPmzbow_3w?enablejsapi=1&controls=1&loop=1&playlist=SsPmzbow_3w" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="item youtube">
                <iframe class="embed-player slide-media" src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=1&unmute=1&loop=1&playlist=QV5EXOFcdrQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="item youtube">
                <iframe class="embed-player slide-media" src="https://www.youtube.com/embed/SsPmzbow_3w?enablejsapi=1&controls=1&loop=1&playlist=SsPmzbow_3w" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="aboutUs">
        <div class="container">
            <div class="header flex">
                <h2 class="title">About Us</h2>
            </div>
            <div class="aboutUs__content row">
                <div class="col-lg-5 col-md-6 ml-auto">
                    <div class="aboutUs__slider">
                        <div class="item">
                            <img src="./assets/images/thumb_ablut.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/thumb_ablut.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/thumb_ablut.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 mr-auto">
                    <article class="text">
                        <p class="des"><span>Point Avenue</span> is a private education technology company based out of Hanoi, Vietnam offering Kindergarten through University educational services across Southeast Asia.</p>
                        <div class="products">
                            <p>We consist of four major products:</p>
                            <span>- STEAMology K-5 English Learning</span>
                            <span>- Middle School English Language Arts Programs</span>
                            <span>- High School Programs with Standardized Test & Subject Prep</span>
                            <span>- Admissions Consulting</span>
                        </div>
                        <p>We have a successful track record from China and Korea with a mature curriculum and a set of products infused with technology infrastructure, coupled with a team of passionate and experienced educators.</p>
                        <p>We believe in mentoring students in a holistic manner, utilizing a highly personalized approach to provide every student with tailored life and educational roadmaps.</p>
                        <p>We deliver positive outcomes and facilitate every student's potential for future growth.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="container">
            <div class="header flex">
                <h2 class="title">Our Team</h2>
            </div>
            <ul class="team__list flex">
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m1.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m2.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m3.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m5.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m6.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m5.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m7.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m6.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m1.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m1.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m2.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m1.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m5.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m5.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m7.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m2.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m3.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
                <li data-toggle="modal" data-target=".popup-member">
                    <div class="avt"><img src="./assets/images/m5.jpg" alt=""></div>
                    <a href="javascript:;" class="btn-view">
                        <i class="fas fa-search"></i>
                        Detail
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="results">
        <div class="container">
            <div class="header flex">
                <h2 class="title">Results</h2>
                <p class="des">We integrate every student and parent into our big family. Once you are a part of Point Avenue’s family, you will always remain in our community. Even after moving on from our programs, we remain in touch, staying a part of family’s lives as a resource in varieties of subject matters. No matter where you are in the world, you will continue to serve as a Point Avenue ambassador.</p>
            </div>
            <div class="results__list row">
                <div class="col-lg-3">
                    <span class="counter" data-count="233">0</span>
                    <span class="cat">Students</span>
                    <p class="des">In today’s net-savvy world it has become common for any business to have a website which they use mostly for advertising their products and services. </p>
                </div>
                <div class="col-lg-3">
                    <span class="counter" data-count="156">0</span>
                    <span class="cat">Students</span>
                    <p class="des">In today’s net-savvy world it has become common for any business to have a website which they use mostly for advertising their products and services. </p>
                </div>
                <div class="col-lg-3">
                    <span class="counter" data-count="396">0</span>
                    <span class="cat">Students</span>
                    <p class="des">In today’s net-savvy world it has become common for any business to have a website which they use mostly for advertising their products and services. </p>
                </div>
                <div class="col-lg-3">
                    <span class="counter" data-count="250">0</span>
                    <span class="cat">Students</span>
                    <p class="des">In today’s net-savvy world it has become common for any business to have a website which they use mostly for advertising their products and services. </p>
                </div>
            </div>
            <div class="results__button">
                <a href="results.html" class="btn btn_primary" title="See Full of Our Results">See Full of Our Results</a>
            </div>
        </div>
    </section>
    <section class="partnerships">
        <div class="container">
            <div class="header flex">
                <h2 class="title">Partnerships</h2>
            </div>
            <ul class="partnerships__list flex">
                <li><a href="javascript:;"><img src="./assets/images/86-b.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/teraak.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/riiiid.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/steamology.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/vintagelab.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/steamology.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/86-b.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/teraak.png" alt=""></a></li>
            </ul>
        </div>
    </section>
    <section class="registration">
        <div class="container">
            <div class="box-register pr">
                <img src="./assets/images/registration.jpg" class="bg" alt="">
                <div class="info_register">
                    <h2>Registration</h2>
                    <p>Register for free diagnostic test</p>
                    <a href="javascript:;" class="btn btn_primary" title="">Click Here</a>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <div class="header flex">
                <h2 class="title">Contact</h2>
            </div>
            <ul class="contact__list row">
                <li class="col-lg-4  col-md-6">
                    <h4>
                        <i class="fas fa-map-marked-alt"></i>
                        Office 1
                    </h4>
                    <p>Park View City CT1, 2nd Floor, Vũ Phạm Hàm, Yên Hoà, Cầu Giấy, Hà Nội</p>
                </li>
                <li class="col-lg-4 col-md-6">
                    <h4>
                        <i class="fas fa-map-marked-alt"></i>
                        Office 2
                    </h4>
                    <p>Vin City CT3, 2nd Floor, Nguyễn Văn Cừ, Long Biên, Hà Nội.</p>
                </li>
                <li class="col-lg-4 col-md-6">
                    <h4>
                        <i class="fas fa-envelope"></i>
                        Email
                    </h4>
                    <p><a href="mailto:Contact@pointavenue.com">Contact@pointavenue.com</a></p>
                </li>
                <li class="col-lg-4 col-md-6">
                    <h4>
                        <i class="fab fa-viber"></i>
                        Viber
                    </h4>
                    <p><a href="tel:+84 9123 456">+84 9123 456</a></p>
                </li>
                <li class="col-lg-4 col-md-6">
                    <h4>
                        <i class="icon-kakao"></i>
                        Kakao Talk
                    </h4>
                    <p><a href="tel:+84 9123 456">+84 9123 456</a></p>
                </li>
            </ul>
        </div>
    </section>
    <section class="message pr">
        <div class="container">
            <div class="message__send col-lg-7">
                <h3 class="title">Send Message to Us</h3>
                <form method="" action="" class="message__form">
                    <div class="form-row">
                        <div class="form-group effect_border col-md-6">
                            <label>Your Name</label>
                            <input class="form-control" type="text" name="name" required>
                        </div>
                        <div class="form-group effect_border col-md-6">
                            <label>Your E-mail</label>
                            <input class="form-control" type="email" name="email" required>
                        </div>
                    </div>
                    <div class="form-group effect_border">
                        <label>Message</label>
                        <textarea class="form-control" required></textarea>
                    </div>
                    <button type="submit" class="btn btn_primary">Submit</button>
                </form>
            </div>
            <div class="message__banner">
                <img src="./assets/images/thumb_ms.jpg" class="bg" alt="">
            </div>
        </div>
    </section>
    <section id="map">

    </section>
    <div class="modal fade popup-member" id="popup-member" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <div class="info-member flex">
                    <div class="avatar">
                        <img src="./assets/images/ava-danny.png" class="bg" alt="">
                        <h4 class="name">Danny</h4>
                        <p class="job">Founder & CEO, Point Avenue</p>
                    </div>
                    <article>
                        <p>B.S. with Honors in Sociology & Environmental Engineering, United States Military Academy at West Point</p>
                        <p>US Army Airborne Ranger with 6 Years of Military Experience as an Officer; Combat Decorated Veteran with 2 Tours in Iraq</p>
                        <p>COO, New Pathway Education & Technology Group</p>
                        <p>Director, Prestige Only & Premier Only, Education International Cooperation Group</p>
                        <p>Alumni Interviewer for all 5 United States Service Academies</p>
                        <p>Ultramarathoner, Ironman, Skydiver</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>
