<main class="category">
    <div class="container">
        <div class="news row">
            <div class="col-lg-8">
                <div class="news__large pr">
                    <a href="" class="thumb"><img src="./assets/images/thumb_ms@2x.jpg" alt=""></a>
                    <div class="content">
                        <div class="info flex">
                            <span class="cat">Newsletter</span>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                        <h3><a href="" title="">Enlightenment Is Not Just One State</a></h3>
                        <p class="des">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to… </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="news__list">
                    <article class="post flex">
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <div class="content">
                            <span class="cat">Newsletter</span>
                            <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <div class="content">
                            <span class="cat">Newsletter</span>
                            <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <div class="content">
                            <span class="cat">Newsletter</span>
                            <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <div class="content">
                            <span class="cat">Newsletter</span>
                            <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                            <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="news_category">
            <div class="header_news flex">
                <h2 class="title">Newsletter</h2>
                <span class="line"></span>
                <a href="" class="btn-more" title="See all">See all</a>
            </div>
            <div class="list_post row">
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
            </div>
        </div>
        <div class="news_category">
            <div class="header_news flex">
                <h2 class="title">Update</h2>
                <span class="line"></span>
                <a href="" class="btn-more" title="See all">See all</a>
            </div>
            <div class="list_post row">
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
            </div>
        </div>
        <div class="news_category">
            <div class="header_news flex">
                <h2 class="title">New Program</h2>
                <span class="line"></span>
                <a href="" class="btn-more" title="See all">See all</a>
            </div>
            <div class="list_post row">
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
                <article class="post col-lg-3 col-md-6">
                    <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                    <h3><a href="">From Wetlands To Canals And Dams Amsterdam Is Alive</a></h3>
                    <time><i class="far fa-clock"></i> Feb 12, 2018</time>
                    <p>Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and even kill others… </p>
                </article>
            </div>
        </div>
    </div>
</main>