<main class="category">
    <div class="container">
        <div class="box-breadcrumb pr" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">News</a></li>
                <li class="breadcrumb-item"><a href="#">Newletter</a></li>
                <li class="breadcrumb-item active" aria-current="page">Althusser Competing Interpellations And The Third Text</li>
            </ol>
        </div>
        <div class="newsDetail">
            <div class="info flex">
                <span class="cat">Newsletter</span>
                <time><i class="far fa-clock"></i> Feb 12, 2018</time>
            </div>
            <h1 class="title">Althusser Competing Interpellations And The Third Text</h1>
            <div class="img">
                <img src="./assets/images/registration.jpg" alt="">
            </div>
            <article class="content">
                <p>
                    Living in today’s metropolitan world of cellular phones, mobile computers and other high-tech gadgets is not just hectic but very impersonal. We make money and then invest our time and effort in making more money. Does it end? Not usually because we are never satisfied. How many times have we convinced ourselves that if only we had some more money, life would be so sweet? But then, after receiving a substantial raise, we realize that it wasn’t enough and that we need more?
                </p>

                <p>What Should You Do?</p>

                <p>
                    I have read many books on life such as Robin Sharma’s Monk says this and the monk says that, and they all seem to say that money is not necessary. But it is. Can you do without cash and a lot of it? I know I can’t. So, I went to the neighbourhood Rabbi and asked for advice that will help me find my true way in life. The rabbi nodded and took me to the window. “What do you see?” he asked me.
                </p>

                <p>
                    Promptly, I answered, “I can see people walking to and fro and a blind man is begging for alms at the left corner.”
                </p>

               <p> The Rabbi nodded and guided me to a big mirror. “Now look and tell me what you see?”</p>

                <p>“I can see myself,” I man answered.</p>

                <p>The Rabbi smiled. “Now you can’t see anyone else. The mirror and the window are both created from the same raw material: glass, but because on one of them they have applied a thin layer of silver, when you look at it all you can see is your own reflection.”</p>

                <p>
                    The Rabbi placed his arm on my shoulders. “Compare yourself to those two pieces of glass. Without the silver layer, you saw the other people and felt compassion for them. When you are covered with silver, you see only yourself.”
                </p>

                <p>
                    I looked at the Rabbi and stared. “I don’t understand.”
                </p>

                <p>
                    The Rabbi continued. “You will become someone only if have the courage to remove the silver covering over your eyes in order to again see and love others.” He patted me on my back and sent me on my way.
                </p>

                <p>
                    I have thought of what he said and come to the conclusion that he had a point. Yes. We need money and we should not aim to lead a moneyless existence; its pointless and will only cause us and our families many heartbreaks in the future.
                </p>

                <p>
                    Instead, I suggest that we should follow the advice the Rabbi gave me. When we approach life through a silver covering, all we are able to see is ourselves. But discard that covering, and you will be able to see and feel everyone else.
                </p>
            </article>
        </div>
    </div>
</main>