<header>
    <nav class="navbar navbar-expand-lg">
        <a class="brand" href=""><img src="./assets/images/odyssey/logo.png" alt=""></a>
        <button class="navbar-toggler border-0" type="button">
            <span></span>
        </button>
        <div class="navbar-collapse" id="navbar">
            <a href="javascript:;" class="close" data-miss="collapse"><i class="fas fa-times"></i></a>
            <ul class="navbar-nav">
                <li><a href="home.html" title="Home"><span>Home</span></a></li>
                <li>
                    <a href="javascript:;" title="Services"><span>Services</span></a>
                    <ul class="sub-menu">
                        <li><a href="" title="Steamography">Steamography</a></li>
                        <li><a href="" title="Middle School">Middle School</a></li>
                        <li><a href="" title="High School">High School</a></li>
                        <li><a href="" title="Admissions Consulting">Admissions Consulting</a></li>
                        <li><a href="" title="International Kindergarten">International Kindergarten</a></li>
                    </ul>
                </li>
                <li><a href="results.html" title="Results"><span>Results</span></a></li>
                <li><a href="" title="Registration"><span>Registration</span></a></li>
                <li><a href="news.html" title="News"><span>News</span></a></li>
                <li><a href="creator-space.html" title="Careers"><span>Careers</span></a></li>
            </ul>
        </div>
        <div class="modal-menu"></div>
    </nav>
</header>
<main>
    <div class="section container intro pr">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <article class="text">
                    <h2 class="title js-animation fadeup">Odyssey: SANTA SAT</h2>
                    <h4 class="js-animation fadeup">AI Machine Based Learning Tutor for SAT test preparation</h4>
                    <p class="js-animation fadeup">Do you want to identify and study the type of questions you have the most trouble with?</p>
                    <p class="js-animation fadeup">Do you want to study at your convenience whether that is on the go or at certain times?</p>
                    <p class="js-animation fadeup">Are you looking for supplemental materials for your in-class lectures?</p>
                </article>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="parallax img-phone js-animation zoomin cf">
                    <div class="parallax-layer layer1 pr" data-parallaxify-range-x="160" data-parallaxify-range-y="80">
                        <img src="./assets/images/odyssey/big-elements.png" alt="">
                    </div>
                    <div class="parallax-layer layer2 pr" data-parallaxify-range-x="100" data-parallaxify-range-y="80">
                        <img src="./assets/images/odyssey/phone.png" alt="">
                    </div>
                    <div class="parallax-layer layer3 pr" data-parallaxify-range-x="100" data-parallaxify-range-y="80">
                        <img src="./assets/images/odyssey/two-pyramids.png" alt="">
                    </div>
                    <div class="parallax-layer layer4 pr" data-parallaxify-range-x="260" data-parallaxify-range-y="100">
                        <img src="./assets/images/odyssey/star-small.png" alt="">
                    </div>
                </div>
            </div>
            <div class="scroll-eff">
                <span></span>
                <span></span>
                scroll
            </div>
        </div>
    </div>
    <section class="section section2 row">
        <div class="img-container img-effect js-animation fadein pr">
            <img src="./assets/images/odyssey/hand-holding.png" style="opacity: 0" alt="">
            <div class="ef ef1">
                <img src="./assets/images/odyssey/sec2-main.png" alt="">
            </div>
            <div class="ef ef2">
                <img src="./assets/images/odyssey/sec2-ele1.png" alt="">
            </div>
            <div class="ef ef3">
                <img src="./assets/images/odyssey/sec2-ele2.png" alt="">
                <span class="icon icon-circle"></span>
            </div>
            <div class="ef ef4">
                <img src="./assets/images/odyssey/sec2-ele3.png" alt="">
            </div>
        </div>
        <div class="text1 js-animation fadeup">
            <h2 class="title">What is SANTA SAT?</h2>
            <p>SANTA SAT is an AI tutor that will provide you with a 1-on-1 experience that allows convenience and mobile study options.</p>
        </div>
    </section>
    <section class="feature pr">
        <div class="feature_content">
            <div class="item item1 flex">
                <div class="col_left js-animation fadeup">
                    <h4>Real-time analysis <br> & Score prediction</h4>
                    <p>Generates real-time data driven analysis to identify your weaknesses, and provides you with personalized recommendations to improve your score faster by optimizing study time.</p>
                    <p>It can predict users’ scores as well as what questions they will answer correctly.</p>
                </div>
                <div class="col_right js-animation fadein">
                    <video muted autoplay loop>
                        <source src="./assets/images/odyssey/video.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="item item2 flex">
                <div class="col_left js-animation fadein">
                    <div class="img-phone1">
                        <img src="./assets/images/odyssey/sec4-main.png" alt="">
                        <span class="ef ef1"></span>
                        <span class="ef ef2"></span>
                        <span class="ef ef3"></span>
                    </div>
                </div>
                <div class="col_right js-animation fadeup">
                    <h4>Flexibility of studying</h4>
                    <p>Enjoy the flexibility of studying anywhere and at any time on your personal devices.</p>
                </div>
            </div>
            <div class="item item3 flex">
                <div class="col_left js-animation fadeup">
                    <h4>Thousands of drill problems</h4>
                    <p>Our AI platform contains real college board practice tests, tens of thousands of drill problems with detailed explanations, and step-by-step video tutorials.</p>
                </div>
                <div class="col_right js-animation fadein">
                    <div class="img-container">
                        <img src="./assets/images/odyssey/3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="register js-animation zoomin">
                <h2 class="title">To take a FREE SAT diagnostic test, register below</h2>
                <a href="" class="btn btn-register flex-center" title=""><span>Register</span></a>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <div class="inner flex">
            <div class="logo">
                <a href="" title=""><img src="./assets/images/logo.png" class="bg" alt=""></a>
            </div>
            <ul class="social flex">
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-youtube"></i></a></li>
            </ul>
            <p class="copyright">Copyright Ⓒ 2019 Point Avenue</p>
        </div>
    </div>
</footer>