<main class="container">
    <h1><a href="" class="logo">Odyssey</a></h1>
    <div class="section intro row">
        <div class="col-lg-7 col-md-6">
            <article class="text">
                <h4 class="js-animation">AI Machine Based Learning</h4>
                <p class="js-animation">Do you want to identify and study the type of questions you have the most trouble with?</p>
                <p class="js-animation">Do you want to study at your convenience whether that is on the go or at certain times?</p>
                <p class="js-animation">Are you looking for supplemental materials for your in-class lectures?</p>
                <p class="js-animation flip-text">To take a <b>FREE</b> SAT diagnostic test, register below</p>
            </article>
            <a href="" class="btn btn-register js-animation flex-center" title=""><span>Register</span></a>
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="parallax img-phone js-animation cf">
                <div class="parallax-layer layer1 pr" data-parallaxify-range-x="160" data-parallaxify-range-y="80">
                    <img src="./assets/images/odyssey/big-elements.png" alt="">
                </div>
                <div class="parallax-layer layer2 pr" data-parallaxify-range-x="100" data-parallaxify-range-y="80">
                    <img src="./assets/images/odyssey/phone.png" alt="">
                </div>
                <div class="parallax-layer layer3 pr" data-parallaxify-range-x="100" data-parallaxify-range-y="80">
                    <img src="./assets/images/odyssey/two-pyramids.png" alt="">
                </div>
                <div class="parallax-layer layer4 pr" data-parallaxify-range-x="260" data-parallaxify-range-y="100">
                    <img src="./assets/images/odyssey/star-small.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <section class="section section2 row">
        <div class="col-lg-6 col-md-7">
            <div class="img-container img-effect js-animation pr">
                <img src="./assets/images/odyssey/2663717-1.png" alt="">
                <span class="icon-ef ef1"></span>
                <span class="icon-ef ef2"></span>
                <span class="icon-ef ef3"></span>
            </div>
        </div>
        <div class="col-lg-6 col-md-5">
            <div class="text1 js-animation">
                <h2 class="title">What is Odyssey ?</h2>
                <p>Odyssey is an AI tutor that will provide you with a 1-on-1 experience that allows convenience and mobile study options.</p>
            </div>
        </div>
    </section>
    <section class="section feature flex">
        <div class="feature_item js-animation">
            <div class="icon icon-time">
                <img src="./assets/images/odyssey/clock_2.png" alt="">
            </div>
            <h4>Real-time data driven analysis</h4>
            <p>Generates real-time data driven analysis to identify your weaknesses, providing you with personalized recommendations to improve your score faster by optimizing study time.</p>
        </div>
        <div class="feature_item js-animation">
            <div class="icon icon-phone">
                <img src="./assets/images/odyssey/phone_1.png" alt="">
            </div>
            <h4>Flexibility of studying</h4>
            <p>Enjoy the flexibility of studying on your own schedule, any time, anywhere on your personal devices.</p>
        </div>
        <div class="feature_item js-animation">
            <div class="icon icon-doc">
                <img src="./assets/images/odyssey/problem.png" alt="">
            </div>
            <h4>Thousands of drill problems</h4>
            <p>Our AI platforms contain real college board practice tests, tens of thousands of drill problems with detailed explanations, and step-by-step video tutorials.</p>
        </div>
        <div class="feature_item js-animation">
            <div class="icon icon-score">
                <img src="./assets/images/odyssey/score.png" alt="">
            </div>
            <h4>Score prediction</h4>
            <p>It can predict the users’ scores with …. % accuracy..</p>
        </div>
    </section>
    <section class="section register js-animation">
        <h2 class="title">To take a FREE SAT diagnostic test, register below</h2>
        <a href="" class="btn btn-register flex-center" title=""><span>Register</span></a>
    </section>
</main>