<main>
    <div class="container-fluid">
        <div class="box-result">
            <h3 class="title">2018 - 2019 Undergraduate Admissions Results</h3>
            <div class="box-slider pr">
                <ul class="slider-logo">
                    <li><a href="javascript:;"><img src="./assets/images/logo1.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo2.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo3.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo4.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo5.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo6.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo4.png" alt=""></a></li>
                </ul>
            </div>
            <div class="box-slider pr">
                <div class="slider-text">
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-result">
            <h3 class="title">2018 - 2019 Graduate Admissions Results</h3>
            <div class="box-slider pr">
                <ul class="slider-logo">
                    <li><a href="javascript:;"><img src="./assets/images/logo1.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo2.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo3.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo4.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo5.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo6.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo4.png" alt=""></a></li>
                </ul>
            </div>
            <div class="box-slider pr">
                <div class="slider-text">
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-result">
            <h3 class="title">2018 - 2019 Boarding School Admissions Results</h3>
            <div class="box-slider pr">
                <ul class="slider-logo">
                    <li><a href="javascript:;"><img src="./assets/images/logo1.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo2.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo3.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo4.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo5.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo6.png" alt=""></a></li>
                    <li><a href="javascript:;"><img src="./assets/images/logo4.png" alt=""></a></li>
                </ul>
            </div>
            <div class="box-slider pr">
                <div class="slider-text">
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                    <div class="item">
                        <div class="avatar">
                            <a href="javascript:;"><img src="./assets/images/ava.png" alt=""></a>
                            <span class="name">Violet Medina</span>
                            <span class="age">40 Ages</span>
                        </div>
                        <article class="content">
                            <span class="quote"><i class="fas fa-quote-left"></i></span>
                            <p>“ I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. We’re updating a few pages, and I’m hoping to add something from you. It would link back to your site, so it’s actually a good thing for your SEO… "</p>
                            <a href="" title="See More" class="btn-see">See More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>