<main class="category">
    <div class="container">
        <div class="program row">
            <div class="col-lg-4">
                <div class="head">
                    <span>For grades K-5</span>
                    <h4>STEAMography</h4>
                </div>
                <p class="des">A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy; it is based on a number of factors, including ad placement, demographic.</p>
                <div class="register">
                    <h5>Register for a free diagnostic test here:</h5>
                    <a href="javascript:;" class="btn btn_secondary" title="Register">Register</a>
                </div>
            </div>
            <div class="col-lg-8 ml-auto">
                <div class="video">
                    <video autoplay loop muted>
                        <source src="./assets/images/big_buck_bunny.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="courses">
            <h2 class="title">Courses</h2>
            <div class="courses__list row">
                <div class="col-lg-4 col-md-6">
                    <article class="post">
                        <h3><a href="" title="">English Learning Starter</a></h3>
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <p class="des">Breast lift surgery, clinically referred to as a mastopexy, restores a youthful appearance to a woman’s breasts. Over the years breasts lose their shape and firmness due to pregnancy, nursing, and loss of skin elasticity, which basically means they end up sagging. A Mastopexy will raise and reshape breasts      </p>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post">
                        <h3><a href="" title="">English Learning 1</a></h3>
                        <a href="" class="thumb"><img src="./assets/images/thumb_ms.jpg" alt=""></a>
                        <p class="des">Breast lift surgery, clinically referred to as a mastopexy. Over the years breasts lose their shape and firmness due to pregnancy, nursing, and loss of skin elasticity, which basically means they end up sagging. A Mastopexy will raise and reshape breasts      </p>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post">
                        <h3><a href="" title="">English Learning 2</a></h3>
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <p class="des">Breast lift surgery, clinically referred to as a mastopexy, restores a youthful appearance to a woman’s breasts.</p>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post">
                        <h3><a href="" title="">English Learning 3</a></h3>
                        <a href="" class="thumb"><img src="./assets/images/ava-course.jpg" alt=""></a>
                        <p class="des">Breast lift surgery, clinically referred to as a mastopexy, restores a youthful appearance to a woman’s breasts.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>